<section class="card">
	<h3 class="card-title">{{ thread.title }}</h3>
	<section class="card-body">
		<zippy title="thread details" class="card-content">
			<p class="card-text">{{ thread.description }}</p>
			<ul class="list-group">
				<li class="list-group-item">forum family : {{ thread.forum }}</li>
				<li class="list-group-item">thread prefixes : {{ thread.prefixes }}</li>
				<li class="list-group-item">thread type : {{thread.threadType}}</li>
			</ul>
		</zippy>
		

	
		<zippy title="Management Actions">
			<!-- TODO: add tooltips so these button actions are less ambiguous -->
			<button mat-raised-button (click)="viewThreadAsContributor()">Go to thread</button>
			<button mat-stroked-button (click)="editThreadDetails()">Edit thread details</button>
			<button mat-raised-button (click)="viewThreadAsAdmin()">Edit thread contents</button>
		</zippy>
		<zippy title="Executive Actions">
			<button mat-raised-button class="btn btn-primary" (click)="manageModeratorsDialog()">Manage moderators</button>
			<button mat-stroked-button class="btn alert-danger" (click)="closeThread()">Close thread</button>
			<button mat-raised-button class="btn btn-danger" (click)="deleteThread()">Delete thread</button>	
		</zippy>
	</section>
</section>
