<ng-template *ngIf="mode == 'rate'">
    <fieldset  class="rating">
        <ng-container *ngFor="let num of [5, 4, 3, 2, 1]">
            <!-- full star -->
            <input 
                (click)="starHandler(num)"
                [id]="'star'+num"
                [value]="num"
                name="rating"
                type="radio"/>
    
            <label class="full" [for]="'star'+num"></label>
            
            <!-- half star: il believe this working when i see a doc in the db with a value of something.5 -->
            <input 
                (click)="starHandler(num-0.5)"
                [value]="num-0.5"
                [id]="'halfstar'+num"
                name="rating"
                type="radio"/>
    
            <label class="half" [for]="'star'+num"></label>
        </ng-container>
    </fieldset>    
</ng-template>
<ng-template *ngIf="mode == 'avg'" >
    <h3>Average Rating</h3>
    {{ avgRating | async }}
</ng-template>
<ng-template  *ngIf="mode == 'view'" >
    <h3>Other users' ratings:</h3>
    <div *ngFor="let star of stars | async">
        <!-- this means you have to use human readable text for the db path -->
        {{ star.userId }} gave {{ star.gameId }} {{ star.value }} out of 5 stars.
    </div>
</ng-template>
<!-- this probably messed with the css just a tad -->
<ng-template *ngIf="mode == 'all'" >
    <fieldset class="rating">
        <ng-container *ngFor="let num of [5, 4, 3, 2, 1]">
            <!-- full star -->
            <input 
                (click)="starHandler(num)"
                [id]="'star'+num"
                [value]="num"
                name="rating"
                type="radio"/>
    
            <label class="full" [for]="'star'+num"></label>
            
            <!-- half star -->
            <input 
                (click)="starHandler(num-0.5)"
                [value]="num-0.5"
                [id]="'halfstar'+num"
                name="rating"
                type="radio"/>
    
            <label class="half" [for]="'star'+num"></label>
        </ng-container>
    </fieldset>
    
    <h3>Average Rating</h3>
    {{ avgRating | async }}
    <h3>Other users' ratings:</h3>
    <div *ngFor="let star of stars | async">
        <!-- this means you have to use human readable text for the db path -->
        {{ star.userId }} gave {{ star.gameId }} {{ star.value }} out of 5 stars.
    </div>
</ng-template>