<!-- Need a Captcha here if user == guest -->
<zippy title="suggest new... ">
    <form #finished="ngForm" (ngSubmit)="submitSuggestion(finished)">
        <div>
            <label for="type">Choose the type of suggestion:</label>
            <div class="form-control" *ngFor="let item of opts">
                <label for="{{item}}">{{item}}</label>&nbsp;
                <input
                    required
                    type="radio"
                    id="{{item}}"
                    value="{{item}}"
                    [(ngModel)]="selectedOption"
                    name="type"
                    (click)="changeDetector()"
                    >
            </div>
        
            <div class="form-control" *ngIf="selectedOption == 'game-info'">
                <label for="game-info-type">What type of game info do you want to suggest</label>
                <div *ngFor="let choice of gameInfoOpts">
                    <label for="{{choice}}">{{choice}}</label>&nbsp;
                    <input
                        required
                        type="radio"
                        id="{{choice}}"
                        value="{{choice}}"
                        [(ngModel)]="selectedOption && gameInfoType"
                        name="type"
                        >
                </div>          
            </div>
        </div>

        <div class="form-group" *ngIf="gameInfoType">
            <div>
                <label for="title">title of your {{gameInfoType}} suggestion</label>
                <input
                    required
                    #title
                    id="title"
                    name="title"
                    ngModel
                    class="form-control">    
            </div>

            <div>
                <label for="description">Provide a description for your {{gameInfoType}} suggestion (optional):</label>
                <textarea
                    #description
                    id="description"
                    name="description"
                    ngModel
                    class="form-control"
                    ></textarea>
            </div>
    
    
            <div>
                <label for="links">any links or references- for helping admins do research about the suggestion (optional):</label>
                <input
                    #links
                    id="links"
                    name="links"
                    ngModel
                    class="form-control">
            </div>

        </div>

        <div class="form-group" *ngIf="selectedOption == 'game'">
            <label for="title">Game Title:</label>
            <input
                #title
                id="title"
                name="title"
                ngModel
                class="form-control">

            <label for="description">Provide a description for your {{gameInfoType}} suggestion (optional):</label>
            <textarea
                #description
                id="description"
                name="description"
                ngModel
                class="form-control"></textarea>
            
                
            <label for="links">any links or references- for helping admins do research about the suggestion (optional):</label>
            <input
                #links
                id="links"
                name="links"
                ngModel
                class="form-control">
        </div>

        <button class="btn btn-primary" [disabled]="!finished.valid">Submit</button>
        <button class="btn-alarm" (click)="reset(finished)">Reset</button>
    </form>

    <p>{{finished.value | json}}</p>