<!-- <form [formGroup]="form">


    <h3>Create / Update Watchlist</h3>


    <div>
        <label for="title">Watchlist Title:
            <input type="text" placeholder="title of the stream">
        </label>    
    </div>
    
    <div>
        <label for="description">Watchlist Description
            <textarea name="description" id="" cols="30" rows="10"></textarea>
        </label>
    </div>

    <div>
        <label for="title">Games:
            <input type="text" placeholder="name of the game being streamd">
        </label>    
    </div>
    
    <mat-form-field>
      <label id="example-radio-group-label">Select related Tags: <br></label>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let theme of themes">{{ theme }}</mat-chip>  
      </mat-chip-list>
      <input [matChipInputFor]="chipList">
    </mat-form-field>
    
    
    
    <button
        mat-button-raised
        (click)="reset()"
        >
        Clear
    </button>
    <button
        mat-dialog-close
        mat-button-raised
    >
        Cancle
    </button>
    <button
        mat-dialog-close="save"
        mat-button-raised
    
    >
        Save
    </button>
    <button
        mat-dialog-close="delete"
        mat-button-raised
    >
        Delete
    </button>

</form> -->
<h2 mat-dialog-title>Create, Update or delete Stream</h2>

<mat-dialog-content [formGroup]="form">

<!--  -->

  <mat-form-field>
      <input matInput
              placeholder="watchlist Title"
              formControlName="title">
  </mat-form-field> <br>

  <!-- special care needs to go here, because links is a formArray!!!! 
  <mat-form-field>
    <input matInput
            placeholder="URL / watchlink for watchlist"
            formControlName="link">
  </mat-form-field> <br>-->


  <mat-form-field>
    <textarea matInput
            placeholder="Game(s) being watchlisted, watchlisters, details : (I multi cursor edited)"
            formControlName="description"></textarea>
  </mat-form-field> <br>

<!-- would be great to just format the line breaks using css. the way your supposed to style markup... -->
  <mat-form-field>
    <textarea matInput
            placeholder="Games: Content of the watchlist"
            formControlName="body"></textarea>
  </mat-form-field> <br>


  <p>placeholder : get this to work LATER</p>
  <label id="example-radio-group-label">Tags: <br></label>
  <mat-chip-list aria-label="tag selection" >
    <mat-chip>One fish</mat-chip>
    <mat-chip>Two fish</mat-chip>
    <mat-chip color="primary" selected>Primary fish</mat-chip>
    <mat-chip color="accent" selected>Accent fish</mat-chip>
  </mat-chip-list>
  
</mat-dialog-content>

<mat-dialog-actions>
    
  <button
    mat-button-raised
    (onclick)="reset()"
    >
    Clear
  </button>
  <button
    mat-dialog-close
    mat-button-raised>
    Cancle
  </button>
  <button
    mat-dialog-close="save"
    mat-button-raised>
    Save
  </button>
  <button
    mat-dialog-close="delete"
    mat-button-raised>
    Delete
  </button>

  <p>Form data: {{ form.value | json }}</p>

</mat-dialog-actions>