<form [formGroup]="form">


    <h3>Create / Update Watchlist</h3>


    <div>
        <label for="title">Watchlist Title:
            <input type="text" placeholder="title of the stream">
        </label>    
    </div>
    
    <div>
        <label for="description">Watchlist Description
            <textarea name="description" id="" cols="30" rows="10"></textarea>
        </label>
    </div>

    <!-- this one works a leeel differently- users type games to include in watchlist and recieve
    options to choose from. -->

    <!-- Would be cool to have a mini search widget hwere you can type in a game and filter a dropdown -->
    <div>
        <label for="title">Games:
            <input type="text" placeholder="name of the game being streamd">
        </label>    
    </div>

    
    <div>
        <label id="example-radio-group-label">Watchlist theme: <br></label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group">
          <mat-radio-button class="example-radio-button" *ngFor="let theme of themes" [value]="theme">
            {{theme}}
          </mat-radio-button>
        </mat-radio-group>    
    </div>
    
    
    
    
    
    <button
        mat-button-raised
    >
        Clear
    </button>
    <button
        mat-dialog-close
        mat-button-raised
    >
        Cancle
    </button>
    <!-- to get the value, assign ti mat-button-close  -->
    <button
        mat-dialog-close="save"
        mat-button-raised
    
    >
        Save
    </button>
    <button
        mat-dialog-close="delete"
        mat-button-raised
    >
        Delete
    </button>

</form>
