<h2 mat-dialog-title>Create, Update or delete Stream</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
      <input matInput
              placeholder="Stream Title"
              formControlName="title">
  </mat-form-field> <br>

  <!-- special care needs to go here, because links is a formArray!!!! 
  <mat-form-field>
    <input matInput
            placeholder="URL / watchlink for stream"
            formControlName="link">
  </mat-form-field> <br>-->


  <mat-form-field>
    <textarea matInput
            placeholder="Game(s) being streamed, streamers, details : (speed run, premier, etc)"
            formControlName="description"></textarea>
  </mat-form-field> <br>

  <mat-form-field>
    <textarea matInput
            placeholder="URL / view-link: Content of the stream"
            formControlName="body"></textarea>
  </mat-form-field> <br>


  <p>placeholder : get this to work LATER</p>
  <label id="example-radio-group-label">Tags: <br></label>
  <mat-chip-list aria-label="tag selection" >
    <mat-chip>One fish</mat-chip>
    <mat-chip>Two fish</mat-chip>
    <mat-chip color="primary" selected>Primary fish</mat-chip>
    <mat-chip color="accent" selected>Accent fish</mat-chip>
  </mat-chip-list>
  
</mat-dialog-content>

<mat-dialog-actions>
    
  <button
  mat-stroked-button
  (click)="reset()"
  >
  Clear
</button>
<button
  mat-dialog-close
  mat-stroked-button>
  Cancle
</button>
<button
  (click)="save()"
  mat-raised-button>
  Save
</button>

  <p>Form data: {{ form.value | json }}</p>

</mat-dialog-actions>