<dropdown>skonedalone</dropdown>
<br><br>
<form [formGroup]="form">

    <!-- username formgroup -->
    <div class="form-group">
        <label for="username">Username: </label>
        <input 
            formControlName="username"
            class="form-control"
            id="username"
            type="text">
            <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
                Username is Required
            </div>
    </div>

    <!-- password formgroup -->
    <div class="form-group">
        <label for="password">Password: </label>
        <input 
            formControlName="password"
            class="form-control"
            id="password"
            type="password">
            <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                Password is required
            </div>
    </div>

    <!-- submit button... currently does nothing -->
    <div class="form-extras">
        <button class="btn btn-primary">Log-in</button>
        <hr>
        Don't have a Account? <a routerLink="/sign_in/createAccount">Sign up here</a><br>
        <a> 
            Forgot your password? 
        </a>
    </div>
        
</form>