<dropdown>skonedalone</dropdown>
<br><br>
<form >
   <div id="form-group">
       <label for="userName"></label>
       Username: <input type="text"><br>
        <!-- to be displayed when u figure out this ng model shit  -->
        <label for="password"></label>
        Password: <input type="text"><br>
        <button class="btn btn-primary">Submit</button><br>
        <!-- wish there was a better way to make things appear on seperate lines than br (use css dingbat!) -->
        <hr>
        Don't have a username? <a routerLink="/sign_in/createAccount">Sign up here</a>
    </div> 
    
</form>