<section class="card" *ngIf="user$ | async as user; else userNotFound">

	<!-- <img
		*ngIf="user?.profile?.backgroundImg" 
	  [src]="user?.profile?.backgroundImg" 
		alt="user's profile background img">
	 -->
	
	<section class="profile-wrapper" *ngIf="user.profile as profile">
		

		<section class="card-title">
			<img 
				class="profile-avatar"
				[src]="profile?.avatar"
				alt="user's profile picture / avatar">
			<h1 class="profile-name">{{user.displayName}}'s profile</h1>
		</section>
			
		
		<section class="card-body"> 
			<!-- TODO: good usecase for ngSwitch? -->
			<section *ngIf="selected == 'profile-info'">
				<p class="profile-nickname" *ngIf="profile?.nickname">
					AKA: {{ user?.profile?.nickname }}
				</p>
				<p class="profile-bio" *ngIf="profile?.bio">{{ user?.profile?.bio }}</p>	

				<button *ngIf="currentAuthUser?.uid == user.id" routerLink="profile/edit">Edit your profile</button>

			</section>
			
			<!-- for some reason, we cant select this one if neither social based property is defined on the user object  -->
			<section *ngIf="selected == 'social'">

				<p *ngIf="!profile?.gamerTags.length && !profile?.links.length || !profile?.gamerTags">Note: if the user has any associated social tags, they will appear below</p>
				
				<section *ngIf="profile?.gamerTags.length" class="profile list">
					<h5>gamer tags:</h5>
					<ul class="list-group">
						<li *ngFor="let t of profile?.gamerTags">{{t}}</li>
					</ul>	
				</section>

				<section *ngIf="profile?.links.length !== 0" class="profile list">
					<h5>user's links:</h5>
					<ul class="list-group">
						<li *ngFor="let t of profile?.links">{{t}}</li>
					</ul>	
				</section>				
			</section>
			
			<section *ngIf="selected == 'preferences'">
				preferences shown here <br>
				<button *ngIf="currentAuthUser?.uid == user?.id" [routerLink]="['../', user.displayName, 'preferences/edit']">Edit your preferences</button>
			</section>			


			<section *ngIf="selected == 'contributions'">
				contributions shown here <br>
				<button *ngIf="currentAuthUser?.uid == user?.id" routerLink="contributions/dashboard">Go to Contribution dashboard</button>
			</section>			

			
		</section>

		<section class="profile-toggle-menu">
			<button (click)="selected = opt" [disabled]="selected == opt" *ngFor="let opt of menuOpts">{{opt}}</button>
		</section>


	</section>
</section>

<ng-template #userNotFound>
	<section class="alert alert-primary">
		<h3 class="align-items-center">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
				<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
			</svg>	
			Profile Not Found
		
		</h3>
		<p>the profile you looked up is no longer available</p>
		<button>
			<a routerLink="../">Go back</a>
		</button>
	</section>
</ng-template>


