.card 
  display: grid
  grid-template-columns: 1fr
  grid-column-gap: 2em
  grid-template-areas: "name" "avatar" "nickname" "bio" "menu" 


@media (min-width: 600px) 
  .card 
    text-align: left
    grid-template-columns: 5fr
    grid-template-areas: "avatar name" "avatar nickname" "menu bio"


.profile-name
  grid-area: name
.profile-nickname
  grid-area: nickname 
.profile-bio
  grid-area: bio
.profile-avatar
  grid-area: avatar
.profile-toggle-menu
  grid-area: menu 




.card 
  width: 80%
  margin: 0 auto
  flex-direction: column
  max-width: 600px
  background: #005E9B
  flex-basis: 250px
  color: white
  padding: 2em
  text-align: center

.profile-name
  grid-area: name
  letter-spacing: 1px
  font-size: 2rem
  margin: .75em 0 0
  line-height: 1


.profile-name::after
  content: ''
  display: block
  width: 2em
  height: 1px
  background: #5bcbf0
  margin: .5em auto .65em
  opacity: .25

.profile-avatar 
  justify-self: center
  max-width: 100%
  border-radius: 50%
  border: 2px solid white

.profile-bio-title 
  color: #0090D1
  font-size: 1.25rem
  letter-spacing: 1px
  text-transform: uppercase
  line-height: 1
  margin: 0

.profile-bio 
  font-weight: 300
  opacity: .7

.profile-nickname
  text-transform: uppercase
  font-size: .875rem
  letter-spacing: 3px
  margin: 0 0 .5vem
  line-height: 1
  color: #5bcbf0