<form class="form-group" [formGroup]="form">
        <!-- 
            family, creator : default values, should not be modifiable to usser
            isActive, moderators, posts : values only modifiable by moderators.
        -->

    <reactive-default-form-control label="Title" formControlName="title"></reactive-default-form-control>

    <reactive-textarea-form-control label="Description" formControlName="description"></reactive-textarea-form-control>

    <!-- formcontrol for tags -->

    <!-- formcontrol for invitees -->
    

    <button (click)="submit()"></button>

    <p>{{ form.value | json }}</p>

</form>