<main class="row">
  <div class="col-md-8" *ngFor="let category of allCategories">
      <h3>{{category.title}}</h3>
      <forums-list [category]="category.title"></forums-list>
      <!-- <zippy [title]="category.title">
      </zippy> -->

  <!-- <forums-list category="gaming"></forums-list> -->
  </div>
  <aside class="col-md-4">
      <p>Forum meta data</p>
  
      <div>
          <h3>Top posters</h3>
          <ul>
              <li>Blah</li>
              <li>Blah blah</li>
              <li>Blah Blee Blah Blahalala</li>
          </ul>
      </div>
      <div>
          <h3>Moderators:</h3>
          <ul>
              <li>Splee mcglotenspiel (online)</li>
              <li>Mrs francee pants</li>
              <li>Dogbingo tzmplantencot (online)</li>
          </ul>
      </div>
  
      <div>
          <h3>Forum administrators:</h3>
          <ul>
              <li>Steven Spielberg</li>
              <li>Mike Oldfield (online)</li>
          </ul>
      </div>
  
  </aside>        
</main>

