<label *ngIf="type == 'text'" [for]="formControl">{{ label }}

    <input 
        type="text" 
        [formControl]="control" 
        class="form-control"
        [disableControl]="disable">
    <button type="button" (click)="clearInput()" >clear</button>
    <button type="button" (click)="engage()">Enable</button>    
    <br/>

</label>


<label *ngIf="type == 'password'" [for]="formControl">

    Password: 
    <input type="text" class="form-control" [disableControl]="disable">
    <button type="button" (click)="clearInput()">clear</button>
    <button type="button" (click)="engage()">Enable</button>
    <br/>

    Confirm Password:
    <input 
        [disableControl]="disable"
        type="text" [formControl]="control" class="form-control">
    <button type="button" (click)="clearInput()">clear</button>
    <br/>
</label>