<div class="row">
	<div class="col-md-6 offset-md-3">
<h3>Sign up for an IVDB account</h3>
		<form [formGroup]="form" (ngSubmit)="createAccount()">
			<div class="mb-3">
				<label for="email">Email:</label>
				<input type="text" formControlName="email" class="form-control">
				<div *ngIf="email?.touched && !email?.valid">
					<div *ngIf="email?.errors.required" class="alert-danger">Email is required</div>
					<div *ngIf="email?.errors.email" class="alert-danger">Email is badly formatted (must be name@something.domain)</div>
				</div>
			</div>

			<div class="mb-3">
				<label for="displayName">Display Name:</label>
				<input type="text" formControlName="displayName" class="form-control">
				<div *ngIf="displayName.touched && !displayName.valid">
					<div *ngIf="displayName.errors.required" class="alert-danger">Display Name is required</div>
				</div>
			</div>

			
			<div class="mb-3">
				<label for="password">Password:</label>
				<input type="password" formControlName="password" class="form-control">
				<div *ngIf="password.touched && !password.valid">
					<div *ngIf="password.errors.required" class="alert-danger">
						password is required
					</div>
					<div *ngIf="password.errors.minLength">
						<label
							[ngClass]="password.errors.required || password.errors.minLength ? 'text-danger' : 'text-success'">
							<i class="material-icons">
								{{ password.errors.required ||
								password.errors.minlength ? 'cancel' :
								'check_circle' }}
							</i>
							Must be at least 8 characters!
						</label>
					</div>
					
					<div *ngIf="password.errors.hasNumber" class="alert-danger">
						<label
						class="col"
						[ngClass]="password.errors.required|| password.errors.hasNumber  ? 'text-danger' :'text-success'">
						<i class="material-icons">
							{{ password.errors.hasNumbers ? 'cancel' : 'check_circle' }}
						</i>
						password must contain at least 1 number!
						</label>
					</div>
					<div *ngIf="password.errors.hasLowerCase" class="alert-danger">
						<label
						class="col"
						[ngClass]="password.errors.required || password.errors.hasLowerCase  ? 'text-danger' :'text-success'">
						<i class="material-icons">
							{{ password.errors.hasLowerCase ? 'cancel' : 'check_circle' }}
						</i>
						password must contain at least 1 lowercase character!
						</label>
					</div>
					<div *ngIf="password.errors.hasCapitalCase" class="alert-danger">
						<label
						class="col"
						[ngClass]="password.errors.required || password.errors.hasCapitalCase  ? 'text-danger' :'text-success'">
						<i class="material-icons">
							{{ password.errors.hasCapitalCase ? 'cancel' : 'check_circle' }}
						</i>
						password must contain at least 1 uppercase character!
						</label>
					</div>
					<div *ngIf="password.errors.hasSpecialCharacters" class="alert-danger">
						<label
						class="col"
						[ngClass]="password.errors.required || password.errors.hasSpecialCharacters ? 'text-danger' :'text-success'">
						<i class="material-icons">
							{{ password.errors.hasSpecialCharacters ? 'cancel' : 'check_circle' }}
						</i>
						password must contain at least 1 special character!
						</label>
					</div>
							
				</div>
			</div>

			<div class="mb-3">
				<label for="confirm-password">Confirm Password:</label>
				<input type="password" formControlName="confirmPassword" class="form-control">
				<div *ngIf="confirmPassword.touched && !confirmPassword.valid">
					<div *ngIf="confirmPassword.errors.required" class="alert-danger">confirm password is required</div>
					<div *ngIf="confirmPassword.errors.noPasswordMatch" class="alert-danger">password and confirm password do not match</div>
				</div>
			</div>

			<div class="mb-3">
				<button type="submit" class="btn btn-primary" [disabled]="!form.valid">Enter</button>
			</div>


		</form>
	</div>
</div>