<div class="row">
    <div class="col-md-6">
        <!-- <form [formGroup]="form" (ngSubmit)="save(form.value)"> -->
        
        <!-- For testing     -->
        <form [formGroup]="form">

            <zippy class="form-group" title="likes" formGroupName="likes">

                <div class="form-control">
                    <label for="games">Liked Games: </label>
                    <input
                        formControlName="games"
                        type="text"
                        name="games"
                        id="games"
                        #entry
                        (keyup.enter)="add(entry, 'likes.games')">
                    <ul class="list-group">
                        <li 
                            class="list-group-item"
                            *ngFor="let game of form.get('likes.games').controls">
                            {{ game.value }}
                        </li>
                    </ul>
                </div>


                <div class="form-control">
                    <label for="consoles">liked Consoles: </label>
                    <input
                        formControlName="consoles"
                        type="text"
                        #consoles
                        (keyup.enter)="add(consoles, 'likes.consoles')">
                    <ul class="list-group">
                        <li 
                            class="list-group-item"
                            *ngFor="let game of form.get('likes.consoles').controls">
                            {{ game.value }}
                        </li>
                    </ul>
                </div>

                <reactive-select-form-control label="Liked Categories: " formControlName="categories" [options]="gameInfo.categories"></reactive-select-form-control>
            
                <reactive-select-form-control label="Liked creators: " formControlName="creators" [options]="gameInfo.creators"></reactive-select-form-control>

                <reactive-select-form-control label="Liked Console Makers: " formControlName="console_makers" [options]="gameInfo.console_makers"></reactive-select-form-control>
            </zippy>


            <zippy class="form-group" title="Dislikes" formGroupName="dislikes">

                <div class="form-control">
                    <label for="games">Disiked Games: </label>
                    <input
                        formControlName="games"
                        type="text"
                        #entry
                        (keyup.enter)="add(entry, 'dislikes.games')">
                    <ul class="list-group">
                        <li 
                            class="list-group-item"
                            *ngFor="let game of form.get('dislikes.games').controls">
                            {{ game.value }}
                        </li>
                    </ul>
                </div>


                <div class="form-control">
                    <label for="consoles">Disliked Consoles: </label>
                    <input
                        formControlName="consoles"
                        type="text"
                        #consoles
                        (keyup.enter)="add(consoles, 'dislikes.consoles')">
                    <ul class="list-group">
                        <li 
                            class="list-group-item"
                            *ngFor="let game of form.get('dislikes.consoles').controls">
                            {{ game.value }}
                        </li>
                    </ul>
                </div>

                <reactive-select-form-control label="Disliked Categories: " formControlName="categories" [options]="gameInfo.categories"></reactive-select-form-control>
            
                <reactive-select-form-control label="Disliked creators: " formControlName="creators" [options]="gameInfo.creators"></reactive-select-form-control>

                <reactive-select-form-control label="Disliked Console Makers: " formControlName="console_makers" [options]="gameInfo.console_makers"></reactive-select-form-control>
            </zippy>

            <zippy class="form-group" title="Historic" formGroupName="historic">

            </zippy>

            <zippy class="form-group" title="Currently Playing" formGroupName="currentlyPlaying">
                
                
            </zippy>

            <button class="btn btn-primary" [disabled]="!form.valid">Create or update profile</button>
        </form>
    </div>
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h6>Likes</h6>
                <p class="card-text">
                </p>
                <h6>Dislikes</h6>
                <p class="card-text"></p>
                <h6>Historic</h6>
                <p class="card-text"></p>
                <h6>Currently Playing</h6>
                <p class="card-text"></p>                
            </div>
          </div>
    </div>

    <p> {{ form.value | json }}</p>
</div>
