<div class="row">
    <div class="col-md-6">
        <!-- <form [formGroup]="form" (ngSubmit)="save(form.value)"> -->
        
        <!-- For testing     -->
        <form [formGroup]="form">
            <zippy title="Likes" formGroupName="likes" class="form-group">
                <div class="form-control">
                    <label for="games">Games: </label>
                    <input
                        formControlName="games"
                        type="text"
                        #games
                        (keyup.enter)="add(games, 'likes.games')">
                    <ul class="list-group">
                        <li 
                            class="list-group-item"
                            *ngFor="let game of form.get('likes.games').controls">
                            {{ game.value }}
                        </li>
                    </ul>
                </div>


            </zippy>

            <zippy class="form-group" title="Dislikes" formGroupName="dislikes">

            </zippy>

            <zippy class="form-group" title="Historic" formGroupName="historic">

            </zippy>

            <zippy class="form-group" title="Currently Playing" formGroupName="currentlyPlaying">
                
                
            </zippy>

            <button class="btn btn-primary" [disabled]="!form.valid">Create or update profile</button>
        </form>
    </div>
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h6>Likes</h6>
                <p class="card-text">
                </p>
                <h6>Dislikes</h6>
                <p class="card-text"></p>
                <h6>Historic</h6>
                <p class="card-text"></p>
                <h6>Currently Playing</h6>
                <p class="card-text"></p>                
            </div>
          </div>
    </div>

    <p> {{ form.value | json }}</p>
</div>
