<div>
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="game.imageUrl" alt="the game in question">
            <div class="card-body">
              <h5 class="card-title">{{ game.title }}</h5>
              <p class="card-text">{{ game.price | currency:'USD':true }}</p>
            </div>
          </div>
    </div>

    horizontal bar top of screen below navbar
</div>
<div>
    veritcal scrolling jawn extends far past current screen buffer
    <br>
    relevant news..
    <br>
    related games..
    <br>    
    comments..
</div>