<div class="row">
	<div class="col-md-6 offset-md-3">
		<h3>Create or Update your profile below!</h3>
		<form [formGroup]="form" (ngSubmit)="saveProfile()">
			<div title="user info" class="form-group" formGroupName="user">
				<p>This should be enabled/ disabled based on auth provider- google users can't update stuff here</p>

				<div class="form-group">
					<label for="displayName">Display Name:</label>
					<input 
						type="text"
						class="form-control"
						formControlName="user.displayName"
						>
				</div>

				<div class="form-group">
					<label for="email">(contact) Email Address:</label>
					<input 
						type="text"
						class="form-control"
						formControlName="user.email"
						>
				</div>

				disable these by default. make user click a button to change passwords in this form
				<div class="form-group">
					<label for="password">Password:</label>
					<input 
						type="password"
						class="form-control"
						formControlName="user.password"
						>
				</div>

				<div class="form-group">
					<label for="confirmPassword">Confirm Password:</label>
					<input 
						type="password"
						class="form-control"
						formControlName="user.confirmPassword"
						>
				</div>
			</div>

			<div title="profile" class="form-group" formGroupName="profile">
				<div class="form-group">
					<label for="nickname">Nickname:</label>
					<input 
						type="text"
						class="form-control"
						formControlName="profile.nickname"
						>
				</div>

				<div class="form-group">
					<label for="bio">Biography/About:</label>
					<textarea 
						class="form-control"
						formControlName="profile.bio"
						></textarea>
				</div>

				<p>In time, we'll want to give user ability to upload their own image</p>
				<div class="form-group">
					<label for="avatar">Avatar image:</label>
					<input 
						type="text"
						class="form-control"
						formControlName="profile.avatar"
						>
				</div>

				<p>Give ability to select from presets or upload your own...</p>
				<div class="form-group">
					<label for="backgroundImg">Background Image:</label>
					<input 
						type="text"
						class="form-control"
						formControlName="profile.backgroundImg"
						>
				</div>

				<p>The following two (gamerTags, links) should be multi select inputs</p>
				<div class="form-group">
					<label for="gamerTags">gamer tags:</label>
					<input 
						type="text"
						class="form-control"
						formControlName="profile.gamerTags"
						>
				</div>

				<div class="form-group">
					<label for="links">Links:</label>
					<input 
						type="text"
						class="form-control"
						formControlName="profile.links"
						>
				</div>
			</div>


		</form>	
	</div>
</div>