<header>
	<a routerLink="/home">
		<h1 class="logo">
			IVDB
		</h1>
	</a>
	<input type="checkbox" class="nav-toggle" id="nav-toggle"/>
	<nav>
		<ul>
			<li *ngIf="user$ as user; else anonymousUser">
				<a [routerLink]="['user/', user.displayName.replace(' ','-')]">{{ user.displayName }}</a>
			</li>
			<li *ngIf="user">
				<a (click)="logout()">Log out</a>
			</li>
			<ng-template #anonymousUser>
				<li>
					<a routerLink="auth">Log in</a>
				</li>
			</ng-template>	
		
						<!-- this should be a dynamic list of the feature modules,
			fed into dropdown component (which need to be customized for this situation) -->
			<li>
				<a routerLink="content">Content</a>
			</li>
<!-- 			
			<li>
				<a routerLink="contrib">Contribute</a>
			</li>
			 -->
			<li>
				<a routerLink="forum">Forum</a>
			</li>
			
			<li>
				<a routerLink="games">Games</a>
			</li>
			
			<li>
				<a routerLink="user">User</a>
			</li>
			
			<li>
				<a routerLink="admin">Admin</a>
			</li>
			
		</ul>
	</nav>
	<label for="nav-toggle" class="nav-toggle-label">
		<span></span>
	</label>
</header>