<header>
	<a routerLink="/home">
		<h1 class="logo">
			IVDB
		</h1>
	</a>
	<nav>
		<ul class="dd-menu">
			<dropdown
				*ngFor="let m of modules"
				[module]="m"
				[children]="children[m]"
				></dropdown>
		</ul>		
	</nav>
	


</header>

<!-- <header>
	<a routerLink="/home">
		<h1 class="logo">
			IVDB
		</h1>
	</a>
	<input type="checkbox" class="nav-toggle" id="nav-toggle"/>
	<nav>
		<ul>
			<div  *ngIf="user$ | async as user; else anonymousUser">

				<li>
					<a [routerLink]="['user/', user.displayName.replace(' ','-')]">{{ user.displayName }}</a>
				</li>
				<li>
					<a (click)="logout()">Log out</a>
				</li>
			</div>
		
			<ng-template #anonymousUser>
				<li>
					<a routerLink="auth">Log in</a>
				</li>
			</ng-template>	
			<li>
				<a routerLink="content">Content</a>
			</li>
			<li>
				<a routerLink="forum">Forum</a>
			</li>
			
			<li>
				<a routerLink="games">Games</a>
			</li>
			
			<li>
				<a routerLink="user">User</a>
			</li>
			
			<li>
				<a routerLink="admin">Admin</a>
			</li>
			
		</ul>
	</nav>
	<label for="nav-toggle" class="nav-toggle-label">
		<span></span>
	</label>
</header> -->