<div *ngIf="!dialog; else matDialog">
  <label *ngIf="buildInfo.type === 'text' " [for]="buildInfo.formControlName">{{buildInfo.label}}:
    <input type="text" [formControl]="control" class="form-control">
  </label>
  
  <label *ngIf="buildInfo.type === 'textarea' " [for]="buildInfo.formControlName">{{buildInfo.label}}:
    <textarea [formControl]="control" class="form-control" col="30" row="20"></textarea>
    <button type="button" (click)="clearInput()">clear</button><br/>
  </label>
  

  <!-- TODO: would be cool to make this its own nested component that phases out
    the buggy and non-encapsulated 'descriptorFormComponent' in admin/forms -->
  <label *ngIf="buildInfo.type === 'multi' " [for]="buildInfo.formControlName">{{buildInfo.label}}:
    <input type="text" #value (keydown.enter)="add(value)">
    <ul class="list-group">
      <li 
        class="list-group-item"
        *ngFor="let item of control.value">
        {{item}}
      </li>
    </ul>  
  </label>
  
  <label 
    *ngIf="buildInfo.type === 'select' && buildInfo.options.length > 1"
    [for]="buildInfo.formControlName"> {{buildInfo.label}}
    <select multiple class="form-control" [id]="control" [formControl]="control">
      <option [value]=" "></option>            
      <option *ngFor="let option of buildInfo.options" [ngValue]="option">{{ option }}</option>
    </select>
  </label>

  <label 
    *ngIf="buildInfo.type === 'multiple select' && buildInfo.options.length > 1"
    [for]="buildInfo.formControlName"> {{buildInfo.label}}
    <select multiple class="form-control" [id]="control" [formControl]="control" multiple>
      <option [value]=" "></option>            
      <option *ngFor="let option of buildInfo.options" [ngValue]="option">{{ option }}</option>
    </select>
  </label>
  
  <div 
    *ngIf="buildInfo.type === 'radio' && buildInfo.options.length > 1">{{buildInfo.label}}:<br>
    <div class="row">
      <label *ngFor="let g of buildInfo.options" class="md-check">
        <input type="radio" [value]="g" [name]="control" [formControl]="control">
        {{ g }}
      </label>        
    </div>
</div>
  
<div 
  *ngIf="buildInfo.type === 'checkbox' && buildInfo.options.length > 1">{{buildInfo.label}}:<br>
  <div *ngFor="let data of buildInfo.options; let i=index">
    <label>
      <input type="checkbox" [value]="data" (change)="onCheckboxChange($event, control)" />
      {{data}}
    </label>
  </div>
  </div>
</div>


<ng-template #matDialog>
    <mat-form-field *ngIf="buildInfo.type === 'text' ">
      <input 
        matInput
        [placeholder]="buildInfo.config.placeholder"
        [formControl]="control"
        class="form-control"><br>
    </mat-form-field>

  <mat-form-field *ngIf="buildInfo.type === 'textarea'">
    <textarea 
      matInput
      [placeholder]="buildInfo.config.placeholder"
      [formControl]="control"
      class="form-control"></textarea><br>
  </mat-form-field> 


  
  <label *ngIf="buildInfo.type === 'multi' " for="">
  dialog: Reactive multi text Form Control
  Implement this one later
  </label>
  
  
  <mat-form-field *ngIf="buildInfo.type === 'select' && buildInfo.options.length > 1" appearance="fill">
    <mat-label>{{ buildInfo.label }}</mat-label>
    <mat-select 
      matInput  
      [formControl]="control"
      class="form-control">
      <mat-option *ngFor="let option of buildInfo.options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>    


  
    <mat-form-field *ngIf="buildInfo.type === 'multiple select' && buildInfo.options.length > 1" appearance="fill">
      <mat-chip-list
        matInput  
        [formControl]="control"
        class="form-control"
        selectable
        multiple
        aria-label="tag selection" >
        <mat-chip 
          *ngFor="let option of buildInfo.options" 
          [value]="option"
          #c="matChip"
          (click)="toggleSelected(c)">
          {{ option }}</mat-chip>
     
      </mat-chip-list>
      
      <!-- <mat-label>{{ buildInfo.label }}:</mat-label>
      <mat-select>
        <mat-option multiple *ngFor="let option of buildInfo.options" [value]="control">
          {{ option }}
        </mat-option>
      </mat-select> -->
    </mat-form-field>

  <label *ngIf="buildInfo.type === 'radio' && buildInfo.options.length > 1" for="">
   dialog:Reactive radio Form Control
  </label>
  
  <label *ngIf="buildInfo.type === 'checkbox' && buildInfo.options.length > 1" for="">
   dialog:Reactive checkbox Form Control
  </label>
</ng-template>

