<!-- toggle select- choose which table to display -->
<mat-button-toggle-group (change)="chosen = $event.value">
	<mat-button-toggle *ngFor="let choice of choices" [value]="choice">{{ choice }}</mat-button-toggle>
</mat-button-toggle-group>
<br>
<!-- create / update form -->
<button mat-stroked-button (click)="showForm = !showForm">Create or update an item</button>
<dashboard-form 
	*ngIf="showForm"
	[dataType]="dataType" 
	[familyChoices]="familyChoices"
	[makerChoices]="makerChoices"
	(createEvent$)="createFromForm($event)"
	(updateEvent$)="updateFromForm($event)"
	(deleteEvent$)="deleteFromForm($event)"
	>
</dashboard-form>

<!-- query filter, shown only if a family has been selected -->
<p *ngIf="chosen">
	que es? {{chosen}}
	<input
		#query
		(keyup)="filter(query.value, chosen)" 
		type="text" 
		class="form-control" 
		placeholder="type a search term to filter results">
</p> 

<!-- display table -->
<div *ngIf="chosen">
	<info-table 
	[tableHeading]="chosen"
	[tableData]="tables[chosen]"
	(createEvent$)="createFromTable()"
	(updateEvent$)="updateFromTable($event)"
	(deleteEvent$)="deleteFromTable($event)">
	</info-table>
</div>