<!-- toggle select- choose which table to display -->
<mat-button-toggle-group (change)="chosen = $event.value">
	<mat-button-toggle *ngFor="let choice of choices" [value]="choice">{{ choice }}</mat-button-toggle>
</mat-button-toggle-group>
<br>
<!-- create / update form -->
<button mat-stroked-button (click)="showForm = !showForm">Create or update an item</button>
<dashboard-form 
	*ngIf="showForm"
	[dataType]="dataType" 
	(createEvent$)="createFromForm($event)"
	(updateEvent$)="updateFromForm($event)"
	(deleteEvent$)="deleteFromForm($event)"
	>
</dashboard-form>

<!-- display table -->
<div *ngIf="chosen">
	<info-table 
	[tableHeading]="chosen"
	[tableData]="tables[chosen]"
	(createEvent$)="createFromTable()"
	(updateEvent$)="updateFromTable($event)"
	(deleteEvent$)="deleteFromTable($event)">
	</info-table>
</div>