<!-- toggle select- choose which table to display -->
<!-- <mat-button-toggle-group #group="matButtonToggleGroup" (change)="toggleButtons(group.value)" [value]="chosen" > -->
<mat-button-toggle-group (change)="chosen = $event.value" [value]="chosen">
	<!-- TODO: the f -->
	<mat-button-toggle *ngFor="let choice of choices" [value]="choice">{{ choice }}</mat-button-toggle>
</mat-button-toggle-group>
<br>
<!-- create / update form -->
<button mat-stroked-button (click)="showForm = !showForm">Create or update an item</button>
<dashboard-form 
	*ngIf="showForm"
	[dataType]="dataType" 
	[familyChoices]="familyChoices"
	[makerChoices]="makerChoices"
	(createEvent$)="createFromForm($event)"
	(updateEvent$)="updateFromForm($event)"
	(deleteEvent$)="deleteFromForm($event)"
	>
</dashboard-form>

<!-- query filter, shown only if a family has been selected -->
<form *ngIf="chosen">
	<!-- TODO: nice to have feature- updating 'chosen' value causes form to reset,
		so search term doesnt carry across differnet families -->
	<input
		#query
		(keyup)="filter(query.value, chosen)" 
		type="text" 
		class="form-control" 
		placeholder="type a search term to filter results">
</form> 

<!-- display table -->
<div *ngIf="chosen">
	<info-table 
	[tableHeading]="chosen"
	[tableData]="tables[chosen]"
	(createEvent$)="createFromTable()"
	(updateEvent$)="updateFromTable($event)"
	(deleteEvent$)="deleteFromTable($event)">
	</info-table>
</div>