<div *ngIf="username; else anonymousUser">
    <!-- if user signed in, and mode set to provide- allow them to provide/ edit rating -->
    <form class="rating">
        <ng-container *ngFor="let num of [5, 4, 3, 2, 1]">
            <input (click)="starHandler(num)" [(ngModel)]="stars.value" [id]="'star'+num" [value]="num" name="rating"
                type="radio" />
            <label class="full" [for]="'star'+num"></label>
        </ng-container>
    </form>
</div>

<ng-template #anonymousUser>
    <form class="rating">
        <ng-container *ngFor="let num of [5, 4, 3, 2, 1]">
            <!-- allows guest users to try to submit rating -->
            <input (click)="fakeStarHandler()" [id]="'star'+num" [value]="num" name="rating" type="radio" />

            <label class="full" [for]="'star'+num"></label>
        </ng-container>
    </form>
</ng-template>

