<!-- <h3>Testing: comment section</h3>
<comment-section contentId="asdfalksdjf"></comment-section> -->

<!-- <zippy title="Rate or Buy">
    Welcom Hi Hello Son
     <carousel></carousel>
</zippy>-->
<!-- <suggest-new></suggest-new> -->

<!-- life is good when we implment reusable components -->
<section class="row">
  <section class="col-md-6">
    <button (click) = "openDialog()">Open new + improved dialog form</button>

    <form [formGroup]="form">
      <reactiveFormControl
        [buildInfo]="firstName">
      </reactiveFormControl>
      <reactiveFormControl
        [buildInfo]="lastName">
      </reactiveFormControl>
      <reactiveFormControl
        [buildInfo]="about">
      </reactiveFormControl>
      <!-- expect this one to be most difficult-->
      <reactiveFormControl
        [buildInfo]="nicknames">
      </reactiveFormControl>




      
      <!-- single choice select -->
      <reactiveFormControl
      [buildInfo]="breakfeast">
      </reactiveFormControl>
      
      <!-- multi choice select -->
      <reactiveFormControl
      [buildInfo]="dogs">
      </reactiveFormControl>
      
      
      
      <!-- radio or slider  -->
      <reactiveFormControl
        [buildInfo]="politics">
      </reactiveFormControl>
      
      <!-- checkbox or chips -->
      <reactiveFormControl
        [buildInfo]="ingredients">
      </reactiveFormControl>


    </form>


    <section>
      {{form.value | json }}
    </section>
  </section>
</section>


<zippy title="Welcome">
  Welcome to the Internet Videogame Database <br>
  Welcome to the Internet Videogame Database <br>
  Welcome to the Internet Videogame Database <br>
  Welcome to the Internet Videogame Database <br>
</zippy>

<br><br>
<zippy title="Industry News">
    Industry news, Industry news, Industry news <br>
    Industry news, Industry news, Industry news <br>
    Industry news, Industry news, Industry news <br>
    Industry news, Industry news, Industry news <br>
</zippy>
<br><br>
<zippy title="Hearsay">
    Hearsay, Hearsay, Hearsay <br>
    Hearsay, Hearsay, Hearsay <br>
    Hearsay, Hearsay, Hearsay <br>
    Hearsay, Hearsay, Hearsay <br>
</zippy>
