<loading-screen></loading-screen>
<div class="row">

    <div class="col-md-6">
        <form #finished="ngForm" (ngSubmit)="save(finished.value)">

            <div class="form-group">
                <label for="nickname">nickname: </label>
                <input
                    #nickname="ngModel"
                    [(ngModel)]="profile.nickname"
                    name="nickname"
                    id="nickname"
                    class="form-control"
                    type="text"
                    >
            </div>


            <div class="form-group">
                <label for="profileImg">Profile Image: </label>
                <input
                    #profileImg="ngModel"
                    [(ngModel)]="profile.profileImg"
                    name="profileImg"
                    id="profileImg"
                    class="form-control"
                    type="text"
                    >
            </div>

            
            <div class="form-group">
                <label for="backgroundImg">Background Image: </label>
                <select
                    #backgroundImg="ngModel"
                    [(ngModel)]="profile.backgroundImg"
                    name="backgroundImg"
                    id="backgroundImg"
                    class="form-control"
                    multiple
                    >
                
                    <option value=""></option>
                    <option value="sundae">sundae</option>
                    <option value="weasel">Weasel</option>
                    <option value="beachfront estate">Beachfront Estate</option>
                </select>
            </div>

            
            <div class="form-group">
                <label for="bio">Bio/ player profile: </label>
                <textarea
                    #bio="ngModel"
                    [(ngModel)]="profile.bio"
                    name="bio"
                    id="bio"
                    class="form-control"
                    type="text"
                    ></textarea>
            </div>

            <div class="form-group">
                <label for="gamerTags">Gamer Tags(*optional): </label>
                <input
                    #gamerTags="ngModel"
                    [(ngModel)]="profile.gamerTags"
                    name="gamerTags"
                    id="gamerTags"
                    class="form-control"
                    type="text"
                    >
            </div>

            <div class="form-group">
                <label for="links">Links (*optional): </label>
                <input
                    #links="ngModel"
                    [(ngModel)]="profile.links"
                    name="links"
                    id="links"
                    class="form-control"
                    type="text"
                    >
            </div>

            <button class="btn btn-primary" [disabled]="!finished.valid">Create or update profile</button>
        </form>
    </div>
</div>