<section>
	<!--
		TODO: get this working, after getting ./game/info index component woring, it should be cake... 
		also do note, that the hide button text is not updated when we switch showMetaData,
		because you set it in ngOnInit, which is only ran when the component is rendered
	 
	<button mat-button-raised (click)="showMetaData = !showMetaData">{{buttonText}}</button>
	<ul *ngIf="showMetaData">
		<li>
			<strong>Categories: </strong>
			<section>The broad families which games belong to, such as adventure, role playing , or first person shooter</section>			
		</li>

		<li>
			<strong>Creators:</strong>
			<section>Creators are the development studios which create the games we love and play, such as Game Freak or Activision</section>
		</li>
		
		<li>
			<strong>Platforms:</strong>
			<section>the creators of videogame consoles, such as Nintendo or Sony</section>
		</li>
	</ul> -->
	
	<table-manager 
		dataType="forum-info"
		[tables]="forumInfoData"
		[familyChoices]="familyChoices"
		[makerChoices]="makerChoices"
		(createEvent$)="createForumInfo($event)"
		(updateEvent$)="updateForumInfo($event)"
		(deleteEvent$)="deleteForumInfo($event)">
	</table-manager>	
</section>
