<!-- <div *ngIf=""> -->

    <!-- poor choice of variable name me thinks? -->
<div *ngIf="addMode">
    For Adding new shit

    title : {{editingTitle}}
    description : {{editingDescription}}
</div>

<div *ngIf="!addMode">
    For editing old shit

    title : {{editingTitle}}
    description : {{editingDescription}}
</div>




<!-- <div formGroupName="descriptor">
    <input 
    #title
    formControlName="title"
    placeholder="enter new title (required)"
    type="text"
    (keyup.enter)="showSubForm = true">    
<textarea 
    *ngIf="showSubForm" 
    #description
    formControlName="description"
    placeholder="enter new description (optional)"
    cols="50"
    rows="10"></textarea>    

</div>

<button class="btn btn-primary" (keyup.enter)="submit()">Add new Game-Descriptor</button> -->