<div class="form-group" [formGroup]="form">
    <p>{{editingMode}}</p>
    <input 
        placeholder="Enter title" 
        type="text" 
        formControlName="title" 
        id="title" 
        class="form-control" 
        (click)="showSubForm = true">
    <!-- <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
        Im afraid of the bisk aliens!
    </div> -->

    <div *ngIf="showSubForm">
        <textarea
            placeholder="Enter description" 
            name="description" 
            id="description"
            class="form-control"
            formControlName="description"
            cols="18" rows="10"></textarea>
        <button class="btn btn-primary" [disabled]="!form.valid" (click)="submitForm()">{{submitMessage}}</button>
        <button class="btn btn-danger" (click)="resetForm()">Reset entry fields</button>
    </div>
</div>