<div class="form-group" [formGroup]="form">
    <input 
        placeholder="Enter a new title" 
        type="text" 
        formControlName="title" 
        id="title" 
        class="form-control" 
        (click)="showSubForm = true">
    <div *ngIf="showSubForm">
        <textarea
            placeholder="Enter a new description" 
            name="description" 
            id="description"
            class="form-control"
            formControlName="description"
            cols="18" rows="10"></textarea>
        <button class="btn btn-primary" (click)="submitForm()">Submit changes</button>
        <button class="btn btn-danger" (click)="resetForm()">Reset entry fields</button>
    </div>
</div>