<!-- <div style ="height: 100%"> 
	<section class="display-game" *ngIf="forum$ | async as forum">
		<mat-card style="height: 300px; width: 300px;">
			<h1>{{forum.title}}</h1>
			<p>{{forum.description}}</p>
		</mat-card>

	</section>
</div> -->

<div *ngIf="forum$ | async as forum; else notFound">
 <h3>Forum: {{ forum.title }}</h3>
	<p>{{ forum.description }}</p>

	threads listed below
	moderators
	top contributors
	recent posts
	etc 
</div>

<ng-template #notFound>
	<h3>Forum not found</h3>
	<p>Sorry, the forum you looked up is no longer available</p>
	<button>
		<a routerLink="../">Go back</a>
	</button>
</ng-template>