<section>
	<mat-button-toggle-group (change)="chosenFamily = forumData[$event.value]">
		<mat-button-toggle [value]="family" *ngFor="let family of forumFamilyChoices">{{ family }}</mat-button-toggle>
	</mat-button-toggle-group>

	<forum-selection
		[forums$]="chosenFamily"
		(selectedEvent$)="forumSelected($event)"	
	></forum-selection>

	<section *ngIf="chosenForum">
		<h3>{{ chosenForum.title }}</h3>
		<p>{{ chosenForum.description }}</p>
		
		
		<thread-selection
			[threads$]="threadsSelected$"
			(selectedEvent$)="threadSelected($event)"
		>
			
		</thread-selection>

	</section>


</section>