<section>

	<button mat-stroked-button (click)="showForm = !showForm">Create or update an item</button>
	<dashboard-form 
		*ngIf="showForm"
		dataType="thread"
		[forumFamilyChoices]="familyChoices"
		[prefixChoices]="prefixChoices"
		[typeChoices]="typeChoices"		
		


		(createEvent$)="createThread($event)"
		(updateEvent$)="updateThread($event)"
		(deleteEvent$)="deleteThread($event)"
		>
	</dashboard-form>
	

	<!-- <h4>About:</h4>
	<p>
		first, choose a forum to manage the threads within. <br>
		you can do this by either searching by title, filtering by forum-family or both. <br>
		By selecting a forum, you will be able to view the threads within it and adminster them.
	</p> -->




</section>