<div class="row mt-4">
    <form>
        <div class="row">

            <div class="col-md-6 mb-2">
                <h4>User Registration</h4>
            </div>

            <!-- if account creation fails, prevent routing and show this message -->
            <div class="col-md-6 mb-2">
                <div class="row" *ngIf="authError">
                    <div class="col-12 alert alert-danger">
                        {{ authError?.message }}
                    </div>
                </div>
            </div>

        </div>    
        <!-- email address formgroup -->
        <div class="row">
            <div 
            class="col-md-6 mb-2 form-group" 
            [formGroup]="form">
            <label for="email">Email Address: </label>
            <input 
                formControlName="email"
                class="form-control"
                id="email"
                type="text">
                <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                    Email address is required.
                </div>
            </div>
        </div>
        
    
        <!-- username formgroup -->
        <div class="row">
            <div class="col-md-6 mb-2 form-group" [formGroup]="form">
                <label for="username">Username: </label>
                <input 
                    formControlName="username"
                    class="form-control"
                    id="username"
                    type="text">
                <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
                    <div *ngIf="username.errors.required ">Username is required</div>
                    <div *ngIf="username.errors.minlength">Username should be a minimum of {{ username.errors.minlength.requiredLength }} characters long.</div>
                </div>
            </div>
        </div>
        
    
        <hr id="password section">
    
        <!-- password formgroup -->
        <div class="row">
            <div class="col-md-6 mb-2 form-group" [formGroup]="form">
                <label for="password">Password: </label>
                <input 
                    formControlName="password"
                    class="form-control"
                    id="password"
                    type="password">
                <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                    <div *ngIf="password.errors.required">Password is required.</div>
                    <div *ngIf="password.errors.minlength">Password should be a minimum of {{ password.errors.minlength.requiredLength }} characters long.</div>
                </div>
                <!-- need to implement this w javascript -->
                <input type="checkbox" (click)="showPassword()">&nbsp;Show password
            </div>
        </div>
        
    
        <!-- confirm password formgroup -->
        <div class="row">
            <div class="col-md-6 mb-2 form-group" [formGroup]="form">
                <label for="confirmPassword">Confirm Password: </label>
                <input 
                    formControlName="confirmPassword"
                    class="form-control"
                    id="confirmPassword"
                    type="password">
                <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
                    <div *ngIf="confirmPassword.errors.required">confirm Password is required.</div>
                </div>
                <div class="alert alert-danger" *ngIf="confirmPassword.valid && form.invalid && form.errors.passwordsShouldMatch">
                    Passwords do not match.
                </div>
                <!-- need to implement this w javascript -->
                <input type="checkbox" (click)="showPassword()">&nbsp;Show password
                </div>
        </div>
        <button class="btn btn-primary" (click)="createAccount()">Submit</button>     
    </form>
</div>
 