<!-- This is an example of a form we could switch to template driven. 
there is no reason i am aware of that it needs to be reactive (but double check first!) -->
<div class="row mt-4">
    <form>
        <div class="row">

            <div class="col-md-6 mb-2">
                <h4>User Registration</h4>
            </div>

            <!-- if account creation fails, prevent routing and show this message 
            It shows up oddly, to the side of the rest of the divs-->
            <div class="col-md-6 mb-2">
                <div class="row" *ngIf="authError">
                    <div class="col-12 alert alert-danger">
                        {{ authError?.message }}
                    </div>
                </div>
            </div>

        </div>
        <!-- email address formgroup -->
        <div class="row">
            <div class="col-md-6 mb-2 form-group" [formGroup]="form">
                <label for="email">Email Address: </label>
                <input formControlName="email" class="form-control" id="email" type="text">
                <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                    <div *ngIf="email.errors.required">Email Address is required</div>
                    <div *ngIf="email.errors.email">Email address must be properly formated (ie. validEmail@yahoo.com)
                    </div>
                    <div *ngIf="email.errors.cannotContainSpace">Email address cannot contain spaces</div>
                </div>
            </div>
        </div>


        <!-- username formgroup -->
        <div class="row">
            <div class="col-md-6 mb-2 form-group" [formGroup]="form">
                <label for="username">Username: </label>
                <input formControlName="username" class="form-control" id="username" type="text">
                <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
                    <div *ngIf="username.errors.cannotContainSpace">Username cannot contain spaces</div>
                    <div *ngIf="username.errors.required ">Username is required</div>
                    <div *ngIf="username.errors.minlength">Username should be a minimum of
                        {{ username.errors.minlength.requiredLength }} characters long.</div>
                </div>
            </div>
        </div>


        <hr id="password section">

        <!-- password formgroup -->
        <div class="row">
            <div class="col-md-6 mb-2 form-group" [formGroup]="form">
                <label for="password">Password: </label>
                <input formControlName="password" class="form-control" id="password" type="password">
                <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                    <div *ngIf="password.errors.required">Password is required.</div>
                    <div *ngIf="password.errors.minlength">Password should be a minimum of
                        {{ password.errors.minlength.requiredLength }} characters long.</div>
                </div>
                <!-- need to implement this w javascript -->
                <input type="checkbox" (click)="showPassword()">&nbsp;Show password
            </div>
        </div>


        <!-- confirm password formgroup -->
        <div class="row">
            <div class="col-md-6 mb-2 form-group" [formGroup]="form">
                <label for="confirmPassword">Confirm Password: </label>
                <input formControlName="confirmPassword" class="form-control" id="confirmPassword" type="password">
                <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
                    <div *ngIf="confirmPassword.errors.required">confirm Password is required.</div>
                    <div *ngIf="form.errors.passwordsShouldMatch">Passwords do not match.</div>
                </div>

                <!-- need to implement this w javascript -->
                <input type="checkbox" (click)="showPassword()">&nbsp;Show password
            </div>
        </div>
        <button class="btn btn-primary" (click)="createAccount()">Submit</button>
    </form>
</div>