<dropdown></dropdown>
<br><br>
<form >
   <div id="form-group">
       <label for="fullName"></label>
        Full Name: <input type="text"><br>
        <!-- to be displayed when u figure out this ng model shit  -->
        <label for="Email Address"></label>
        Email Address: <input type="text"><br>
        <button class="btn btn-primary">Submit</button><br>
        <!-- wish there was a better way to make things appear on seperate lines than br (use css dingbat!) -->
        <hr>
        special form for confirming that passwords match goes here

    </div> 
    
</form>