<!-- 
    Hard coded, unfortunately, because no good alternatives
    
    but I dont expect this list to change any time soon,
    microsoft, nintendo and sony wont go out of business or disapear from cultural memory any time soon
    pc and mobile are also pretty strongly cemented as vg platforms / console makers(?)

-->
<console-post 
    title="Nintendo" 
    [posts]="nintendo"
    (editEvent)="editConsole($event)"
    (deleteEvent)="deleteConsole($event)"    
    ></console-post>

<console-post
    title="Sony"
    [posts]="sony"
    (editEvent)="editConsole($event)"
    (deleteEvent)="deleteConsole($event)"
    ></console-post>

<console-post
    title="microsoft"
    [posts]="microsoft"
    (editEvent)="editConsole($event)"
    (deleteEvent)="deleteConsole($event)"
    ></console-post>

<console-post
    title="pc"
    [posts]="pc"
(editEvent)="editConsole($event)"
(deleteEvent)="deleteConsole($event)"
    ></console-post>

<console-post
    title="mobile"
    [posts]="mobile"
    (editEvent)="editConsole($event)"
    (deleteEvent)="deleteConsole($event)"
    ></console-post>
<!-- 
<console-post
    title="web"
    [posts]="web"
    (editEvent)="editConsole($event)"
    (deleteEvent)="deleteConsole($event)"
    ></console-post> -->