<!-- Same deal here as game-info, shouldnt hard code each type of platform
    as the admin can change the list of platforms, but that wouldnt be reflected
    with the markup you have below. -->
<console-post 
    title="Nintendo" 
    [posts]="nintendo"
    (editEvent)="editConsole($event)"
    (deleteEvent)="deleteConsole($event)"    
    ></console-post>

<console-post
    title="Sony"
    [posts]="sony"
    (editEvent)="editConsole($event)"
    (deleteEvent)="deleteConsole($event)"
    ></console-post>

<console-post
    title="microsoft"
    [posts]="microsoft"
    (editEvent)="editConsole($event)"
    (deleteEvent)="deleteConsole($event)"
    ></console-post>

<console-post
    title="pc"
    [posts]="pc"
(editEvent)="editConsole($event)"
(deleteEvent)="deleteConsole($event)"
    ></console-post>

<console-post
    title="mobile"
    [posts]="mobile"
    (editEvent)="editConsole($event)"
    (deleteEvent)="deleteConsole($event)"
    ></console-post>

<console-post
    title="web"
    [posts]="web"
    (editEvent)="editConsole($event)"
    (deleteEvent)="deleteConsole($event)"
    ></console-post>