<console-post 
    title="Nintendo" 
    [posts]="nintendo"
    (editEvent)="editConsole()"
    (deleteEvent)="deleteConsole($event)"    
    ></console-post>
<!-- 
<console-post
    title="Sony"
    [posts]="sony"
    (editEvent)="editConsole($event)"
    (deleteEvent)="deleteConsole($event)"
    ></console-post>

<console-post
    title="microsoft"
    [posts]="microsoft"
    (editEvent)="editConsole()"
    (deleteEvent)="deleteConsole()"
    ></console-post>

<console-post
    title="pc"
    [posts]="pc"
(editEvent)="editConsole()"
(deleteEvent)="deleteConsole()"
    ></console-post>

<console-post
    title="mobile"
    [posts]="mobile"
    (editEvent)="editConsole()"
    (deleteEvent)="deleteConsole()"
    ></console-post>

<console-post
    title="web"
    [posts]="web"
    (editEvent)="editConsole()"
    (deleteEvent)="deleteConsole()"
    ></console-post> -->