<div class="row" *ngIf="game$ | async as game; else notFound">
	<div class="col-md-6">
			<div class="card" style="width: 18rem;">
					<img class="card-img-top" [src]="game.imageUrl" alt="the game in question">
					<div class="card-body">
							<h5 class="card-title">{{ game.title }}</h5>
							<p class="card-text">{{ game.price | currency:'USD':true }}</p>
							<p> if user : provide rate or review; else, show avg, bounce to sign in/ warn them if providing is attemted </p>
					</div>
			</div>
	</div>
	<div class="col-md-6">
			{{ game.description }}
	</div>
	<footer>
		<ul>

				<li>Categories: {{ game.categories }}</li>
				<li>Creators: {{ game.creators }}</li>
				<li>consoles: {{ game.platforms }}</li>
		</ul>
		<a routerLink="../">Go back to game list</a>
	</footer>
</div>

<ng-template #notFound>
	<h3>Game not found</h3>
	<p>the game you looked up is no longer available</p>

	<h5>Possible reasons</h5>
	<ul>
		<li>the game has been deleted</li>
		<li>admins or moderators have temporarily hidden the game while they make changes</li>
		<li>There is a problem with the site. </li>
	</ul>
	<p>Sorry for any inconveience this may have cause</p>
	<p>If this happens again, you can <a routerLink="../../forum/help/new">Report this issue</a> through the forum</p>
	<button>
		<a routerLink="../">Go back</a>
	</button>
</ng-template>