<div class="row" *ngIf="game$ | async as game">
	<div class="col-md-6">
			<div class="card" style="width: 18rem;">
					<img class="card-img-top" [src]="game.imageUrl" alt="the game in question">
					<div class="card-body">
							<h5 class="card-title">{{ game.title }}</h5>
							<p class="card-text">{{ game.price | currency:'USD':true }}</p>
							<p> if user : provide rate or review; else, show avg, bounce to sign in/ warn them if providing is attemted </p>
					</div>
			</div>
	</div>
	<div class="col-md-6">
			{{ game.description }}
	</div>
	<footer>
		<ul>

				<li>Categories: {{ game.categories }}</li>
				<li>Creators: {{ game.creators }}</li>
				<li>consoles: {{ game.platforms }}</li>
		</ul>
		<a routerLink="../">Go back to game list</a>
	</footer>
</div>

<!-- <div style ="height: 100%"> 
	<section class="display-game" >
		<mat-card style="height: 300px; width: 300px;">
			<h1>{{game.title}}</h1>
			<h3>{{game.price}}</h3>
			<p>{{game.description}}</p>
			<img [src]="game.imageUrl" alt="">
		</mat-card>

	</section>
</div> -->