<h2>Forum and Forum-Info dashboard:</h2>

<!-- TODO: Need to reformulate admin-forum to be in compliance with the revised component architecture -->


<mat-button-toggle-group (change)="chosen = $event.value">
	<mat-button-toggle value="forums">Forums</mat-button-toggle>
	<mat-button-toggle value="forum-info">Forum-Info</mat-button-toggle>
	<mat-button-toggle value="threads">Threads</mat-button-toggle>

</mat-button-toggle-group>

<!-- all site content component -->
<div *ngIf="chosen === 'forums'">
	<a routerLink="/admin/forum/new">
    <button mat-stroked-button class="btn" style="width: 17rem;">Add New Forum</button>
	</a>
	<section>
		<input
			#query
			(keyup)="filter(query.value)" 
			type="text" 
			class="form-control" 
			placeholder="Search...">
			<!-- TODO: make this section container its own component- admin-filter-search-bar -->
		<div>use this space to apply a filter: forum-info, recent poster, threads contained, etc</div>
	</section>
	
	<table class="table">
			<thead>
					<tr>
							<th>Title</th>
							<th>family</th>
							<th></th>
					</tr>
			</thead>
			<tbody>
					<tr *ngFor="let g of filteredForums$ | async">
					<!-- <tr *ngFor="let g of games$ | async"> -->
							<td>{{ g?.title }}</td>
							<td>{{ g?.family }}</td>
							<td><a [routerLink]="['./', g?.id]">edit</a></td>
					</tr>
			</tbody>
	</table>
</div>
<div *ngIf="chosen === 'forum-info'">
	<admin-forum-info></admin-forum-info>
</div>
<div *ngIf="chosen === 'threads'">
	<admin-threads></admin-threads>	
</div>
