<h2>Administer Games, game-info and consoles:</h2>
<mat-button-toggle-group (change)="chosen = $event.value">
	<mat-button-toggle value="games">Games</mat-button-toggle>
	<mat-button-toggle value="game-info">Game-Info</mat-button-toggle>
	<mat-button-toggle value="consoles">Consoles</mat-button-toggle>
</mat-button-toggle-group>
<div *ngIf="chosen === 'games'">
	<a routerLink="/admin/game/new">
    <button mat-stroked-button class="btn" style="width: 17rem;">Add New Game</button>
	</a>
	<section>
		<input
			#query
			(keyup)="filter(query.value)" 
			type="text" 
			class="form-control" 
			placeholder="Search...">
		<div>use this space to apply a filter: game-info categories, creators, platform or consoles are probably the only ones relevant to an admin view</div>
	</section>

	<!-- TODO: lets make this a material-table! -->
	<table class="table">
			<thead>
					<tr>
							<th>Title</th>
							<th>Price</th>
							<th></th>
					</tr>
			</thead>
			<tbody>
					<tr *ngFor="let g of filteredGames$ | async">
					<!-- <tr *ngFor="let g of games$ | async"> -->
							<td>{{ g?.title }}</td>
							<td>{{ g?.price }}</td>
							<td><a [routerLink]="['./', g?.id]">edit</a></td>
					</tr>
			</tbody>
	</table>
</div>
<div *ngIf="chosen === 'game-info'">
	<admin-game-info></admin-game-info>
</div>
<div *ngIf="chosen === 'consoles'">
	<admin-consoles></admin-consoles>
</div>
