<h2>Game and Game-info dashboard:</h2>

<mat-button-toggle-group (change)="chosen = $event.value">
	<mat-button-toggle value="games">Games</mat-button-toggle>
	<mat-button-toggle value="game-info">Game-Info</mat-button-toggle>
</mat-button-toggle-group>

<!-- all site content component -->
<div *ngIf="chosen === 'games'">
	<p>
		<!-- <button 
			(click)="newGame()"	
			class="btn btn-primary">
			Add New Game
		</button> -->
    <a class="btn btn-primary" routerLink="/admin/game/new">Add New Game</a>
	</p>
	<p>
		<input
			#query
			(keyup)="filter(query.value)" 
			type="text" 
			class="form-control" 
			placeholder="Search...">
	</p>
	<table class="table">
			<thead>
					<tr>
							<th>Title</th>
							<th>Price</th>
							<th></th>
					</tr>
			</thead>
			<tbody>
					<tr *ngFor="let g of filteredGames$ | async">
					<!-- <tr *ngFor="let g of games$ | async"> -->
							<td>{{ g?.title }}</td>
							<td>{{ g?.price }}</td>
							<td><a [routerLink]="['./', g?.id]">edit</a></td>
					</tr>
			</tbody>
	</table>
</div>
<div *ngIf="chosen === 'game-info'">
	<admin-game-info
		*ngFor="let g of gameInfo"
		[gameInfo$]="g.content"
		[familyName]="g.title"
		[singularName]="g.singular"
		(createEvent$)="createGameInfo($event)"
		(updateEvent$)="updateGameInfo($event)"
		(deleteEvent$)="deleteGameInfo($event)">
	</admin-game-info>	

	<admin-consoles
		*ngFor="let p of consoles"
		[platformName]="p.title"
		[existingConsoles]="p.content"
	></admin-consoles>
	
</div>
