<!-- probably can export this -->
<!-- <div class="top">
    <header>
        <h1>Welcome to IVDB forum</h1>
    </header>
    <nav>
        <ul >
            <li>
                <a routerLink="/forum/create-thread">Create new thread</a>
            </li>
            <li>
                <a routerLink="">Recently posted</a>
            </li>
            <li>
                <a routerLink="">Hot threads</a>
            </li>
            <li>
                <a routerLink="">Search</a>
            </li>
            <li>
                <a routerLink="">Forum Rules and info</a>
                <ul class="dropdown">
                    <li>Be nice</li>
                    <li>No Doxxing!</li>
                    <li>Threads and users with three violations are temporarily banned or closed.</li>
                    <li>Threads and users with repeated bannings/closings are permenatnly banned or closed</li>
                </ul>
            </li>
        </ul>   
    </nav>    
</div>
<h3>Inside the Forum module!</h3> -->

<h1>Forum</h1>
<h3>Discuss games, consoles and culture in our vibrant and friendly community</h3>
<router-outlet></router-outlet>