/* * {
    font-family: 'Courier New', Courier, monospace;
}

.top {
    background: grey;
}

.top nav ul {
    list-style: none;
}

.top nav ul li {
    display: inline;
    margin: 0 25px;
}

.top nav ul li a {
    text-decoration: none;
    color : white;
}

 */
h1, h3 {
    padding: 15px;
    border: 2px dotted yellow;
    background-color: cadetblue;
}