<!-- preferences tl-form-group object -->
<zippy title="preferences">
    <!-- favorites ml formgroup object -->
    <zippy title="favorites">
        <!-- preferences.favorite.games form group -->
        <div class="col-md-6 mb-2">
        <label for="fav_games">Favorite Game(s): </label>
        <input
            id="fav_games"
            class="form-control"
            name="fav_games"
            type="text">
        </div>

        <!--preferences.favorite.console form group -->
        <div class="col-md-6 mb-2">
            <label for="fav_console">Favorite Console(s): </label>
            <input
    
                type="text"
                class="form-control"
                id="fav_console"
                name="fav_console">
        </div>
        <!-- should be a multi select thing- the above two ^^^ -->

        <!--preferences.favorite.types form group -->
        <div class="col-md-6 mb-2 form-group">
            <label for="types">Favorite type(s) of games: </label>
            <select
                class="form-control"
                id="fav_types"
                name="fav_types">
                <option value=""></option>
                <!-- <option *ngFor="let g of (gameInfo$ | async)?.categories" [value]="g">
                    {{ g }} -->
            </select>
        </div>
        <!-- probably want a scroll banner for this one. explain what we mean by this -->
    </zippy>

    <hr><br>

    <!-- current ml formgroup object -->
    <zippy title="current">
        <!--preferences.current.console form group -->
        <div class="col-md-6 mb-2 form-group">
            <label for="console">Currently Owned Console(s): </label>
            <input
                type="text"
                class="form-control"
                id="current_console"
                name="current_console">
        </div>

        <!--preferences.current.console form group -->
        <div class="col-md-6 mb-2 form-group">
            <label for="games">Currently Owned game(s): </label>
            <!-- should be able to make multiple selection here -->
            <input
                type="text"
                class="form-control"
                id="current_games"
                name="current_games">
        </div>

    </zippy>

    <hr><br>

    <!--"historic" ml-formgroup-object -->
    <zippy title="historic">
        <!--preferences.historic.first_console form group -->
        <div class="col-md-6 mb-2 form-group">
            <label for="first_console">first console ever owned: </label>
            <input
                type="text"
                class="form-control"
                id="first_console"
                name="first_console">
        </div>

        <!--preferences.historic.first_game form group -->
        <div class="col-md-6 mb-2 form-group">
            <label for="first_game">first game ever owned: </label>
            <input
                type="text"
                class="form-control"
                id="first_game"
                name="first_game">
        </div>
        <!-- seperate thing for childhood favorites.
        do this when you figure out how the 
        formgroup nesting works.                      -->
    </zippy>
        
    <hr><br>

    <!--"most recently purchased" ml-formgroup object -->
    <zippy title="most_recently-purchased">
        <!-- preferences.favorite.games form group -->
        <div class="col-md-6 mb-2 form-group">
        <label for="recently purchased games">Recently Purchased Game(s): </label>
        <input
            type="text"
            class="form-control"
            id="recently_purchased_games"
            name="recently_purchased_games">
        </div>

        <!--preferences.favorite.console form group -->
        <div class="col-md-6 mb-2 form-group">
            <label for="consoles">Recently Purchased Console(s): </label>
            <input
                type="text"
                class="form-control"
                id="recently_purchased_consoles"
                name="recently_purchased_consoles">
        </div>

    </zippy>

    <hr><br>

    <!-- "dislikes" ml-formgroup-object  -->
    <zippy title="dislikes">
        <!-- preferences.dislikes.games form group -->
        <div class="col-md-6 mb-2 form-group">
            <label for="disliked_games">Disliked Game(s): </label>
            <input
                type="text"
                class="form-control"
                id="disliked_games"
                name="disliked_games">
        </div>

        <!--shoild define a cool interface for selecting games
        also implmenet that thing pete described for picking out games. like tinder kinda. -->

        
        <!--preferences.dislikes.console form group -->
        <!-- <div class="col-md-6 mb-2">
            <label for="disliked types of games">Disliked types of games: </label>
            <select #disliked_categories [(ngModel)]="preferences.disliked_categories" name="disliked categories" id="disliked categories" multiple>
                <option *ngFor="let g of (gameInfo$ | async)?.categories" [value]="g">
                    {{ g }}
            </select>
        </div> -->


        <!--preferences.dislikes.creators form group -->
        <!-- <div class="col-md-6 mb-2">
            <label for="disliked_creators">Disliked creators: </label>
            <select #disliked_creators [(ngModel)]="preferences.disliked_creators" name="disliked_creators" id="disliked_creators" multiple>
                <option *ngFor="let g of (gameInfo$ | async)?.creators" [value]="g">
                    {{ g }}
            </select>
        </div> -->

        <!--preferences.dislikes.console form group -->
        <!-- <div class="col-md-6 mb-2 form-group">
            <label for="disliked_consoleMakers">Disliked console makers: </label>
            <select #disliked_consoleMakers [(ngModel)]="preferences" name="disliked_consoleMakers" id="disliked_consoleMakers" multiple>
                <option *ngFor="let g of (gameInfo$ | async)?.consoleMakers" [value]="g">
                    {{ g }}
            </select>
        </div> -->
    </zippy>
</zippy>

<!-- from the first form` -->
<br><hr>
<article class="row">
    <h3>Display Preferences</h3>
    <div class="col-md-6 mb-2 form-group">
        <!-- Complete preferences: now or later
        can we have scroll over banner for this: explain what the hell this means..? -->
        <label for="completion">Completing Preferences (priority:  now or later)</label>
        <!-- we dont need to save this info to profile. it just informs the appearance of the rest of this form. -->
        <input
            id="completion"
            class="form-control"
            name="completion"
            type="radio">
        <!-- need to figure out radio buttons from pwm -->
    </div>

    <div class="col-md-6 mb-2">

        <!-- Display all - yes or no; if no, create a second input to select
        which things to display on profile. again, scroll banner here.-->
        <label for="links">Completing Preferences (priority:  now or later)</label>
        <!-- we dont need to save this info to profile. it just informs the appearance of the rest of this form. -->
        
        <input type="radio" name="yes" id="radio_btn">yes
        <input type="radio" name="no" id="radio_btn">no
        if no, provide input for them to say what to display
    </div>
</article>

<hr><br>

<article class="row">
    <!-- <preferences-form></preferences-form> -->
</article>



<hr><br>

<article class="row">    
    <div class="col-md-6 mb-2 form-group">
        <label for="email">email: </label>
        <input
            type="text"
            formControlName="email"
            class="form-control"
            id="email"
            name="email">
    </div>

    <div class="col-md-6 mb-2 form-group">
        <label for="display_name">display_name: </label>
        <input
            type="text"
            class="form-control"
            id="display_name"
            name="display_name">
    </div>

    <div class="col-md-6 mb-2 form-group">
        <label for="password">password: </label>
        <input
            type="password"
            class="form-control"
            id="password"
            name="password">
    </div>

    <p>same shit as on create-account for creating password <br>
        should make a component
    </p>
</article>