<section>
	<h3>Administer Consoles Below:</h3>

<!-- TODO: make this not hardcoded. Should be rather straightforward once we get ./games/info index thingy working
	<button mat-button-raised (click)="showMetaData = !showMetaData">{{buttonText}}</button>
	<ul *ngIf="showMetaData">

		<li>
			<strong>Nintendo:</strong>
			<section>Isa me a mario!</section>
		</li>

		<li>
			<strong>Sony:</strong>
			<section>Hello I love tomatos and onions, garlic and leeks</section>
		</li>

		<li>
			<strong>Microsoft:</strong>
			<section>my finger sticky from spreading the sausage across the counter top and toilet bowl</section>
		</li>

		<li>
			<strong>PC:</strong>
			<section>olive oil coats the plants who love the fat seasoning scent and hunt chubby children with a dagger for their birthday!</section>
		</li>

		<li>
			<strong>Mobile:</strong>
			<section>The tomatos gave a passionate embrace before being crushed by the chef in alaska baking a seal meatball for granny</section>
		</li>
		
	</ul>
	--->	
	<table-manager 
		[tables]="consoleData"
		dataType="console"
		(createEvent$)="createConsole($event)"
		(updateEvent$)="updateConsole($event)"
		(deleteEvent$)="deleteConsole($event)">
	</table-manager>	
</section>
