<h3>Nintendo:</h3>
<ul class="list-group">
    <input>
    <li class="list-group-item" *ngFor="let n of nintendo">
        {{ n.qualifiedName }}
    </li>
</ul>

<h3>Sony:</h3>
<ul class="list-group">
    <input>
    <li class="list-group-item" *ngFor="let n of sony">
        {{ n.qualifiedName }}
    </li>
</ul>


<h3>Microsoft:</h3>
<ul class="list-group">
    <input>
    <li class="list-group-item" *ngFor="let n of microsoft">
        {{ n.qualifiedName }}
    </li>
</ul>


<h3>PC:</h3>
<ul class="list-group">
    <input>
    <li class="list-group-item" *ngFor="let n of pc">
        {{ n.qualifiedName }}
    </li>
</ul>


<h3>Mobile:</h3>
<ul class="list-group">
    <input>
    <li class="list-group-item" *ngFor="let n of mobile">
        {{ n.qualifiedName }}
    </li>
</ul>



<h3>Web:</h3>
<ul class="list-group">
    <input>
    <li class="list-group-item" *ngFor="let n of web">
        {{ n.qualifiedName }}
    </li>
</ul>