<console-display 
    title="Nintendo" 
    [posts]="nintendo"
    (editEvent)="editConsole()"
    (deleteEvent)="deleteConsole()"    
    ></console-display>

<console-display
    title="Sony"
    [posts]="sony"
    (editEvent)="editConsole()"
    (deleteEvent)="deleteConsole()"
    ></console-display>

<console-display
    title="microsoft"
    [posts]="microsoft"
    (editEvent)="editConsole()"
    (deleteEvent)="deleteConsole()"
    ></console-display>

<console-display
    title="pc"
    [posts]="pc"
(editEvent)="editConsole()"
(deleteEvent)="deleteConsole()"
    ></console-display>

<console-display
    title="mobile"
    [posts]="mobile"
    (editEvent)="editConsole()"
    (deleteEvent)="deleteConsole()"
    ></console-display>

<console-display
    title="web"
    [posts]="web"
    (editEvent)="editConsole()"
    (deleteEvent)="deleteConsole()"
    ></console-display>