<h2 mat-dialog-title>Create, Update or delete news</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
      <input matInput
              placeholder="Title"
              formControlName="title">
  </mat-form-field> <br>


  <upload-image
    (uploadEvent)="setTitleCard($event)"
    (deleteEvent)="deleteTitleCard()"
  ></upload-image>

  <!-- <button (click)="fileInput.click()">
    <span>Select</span>
    <input #fileInput type="file" (change)="upload($event)" style="display:none;" />
    
  
  </button> <br> -->


  


  <mat-form-field>
    <textarea matInput
            placeholder="a short description"
            formControlName="description"></textarea>
  </mat-form-field> <br>

<!-- would be great to just format the line breaks using css. the way your supposed to style markup... -->
  <mat-form-field>
    <textarea matInput
            placeholder="Body/Content of the news piece"
            formControlName="body"></textarea>
  </mat-form-field> <br>


  <!-- <label id="example-radio-group-label">Tags: <br></label> -->
  
  <!-- how do i get value in form control? it doesnt like formcontrolName attribute binding -->
  <!-- <mat-chip-list
    aria-label="tag selection" >
    <mat-chip *ngFor="let c of categories">
      {{ c }}
    </mat-chip>
    
  </mat-chip-list> -->

  <upload-images
    (uploadEvent)="setImages($event)"
    (deleteEvent)="setImages($event)">
  </upload-images>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-stroked-button
    (click)="reset()">
    Clear
  </button>
  <button
    mat-dialog-close
    (click)="cleanStorage()"
    mat-stroked-button>
    Cancle
  </button>
  <button
    (click)="save()"
    mat-raised-button>
    Save
  </button>

  <p>Form data: {{ form.value | json }}</p>
</mat-dialog-actions>