
<!-- by default- assumes we are working with bootstrap form -->
<div *ngIf="type == 'text' || type == 'null'" class="col-md-6 mb-2 form-group" [ngModelGroup]="form">
    <label [for]="id">{{ title }}: </label>
    <input
        #{{id}}
        [(ngModel)]="form.id"
        class="form-control"
        [type]="type"
        [name]="id"
        [id]="id">
</div>

<div *ngIf="type == 'password'" class="col-md-6 mb-2 form-group">
    <label for="id">Password: </label>
    <input
        #{{id}}
        [(ngModel)]="form.id"
        class="form-control"
        type="password"
        [name]="id"
        [id]="id"
        >
    
    <label for="confirmPassword">Confirm Password: </label>
    <input
        #confirmPassword
        class="form-control"
        type="password"
        [name]="confirmPassword"
        [id]="confirmPassword">
    <div class="alert alert-danger" *ngIf="confirmPassword.touched && id.value != confirmPassword.value">
        Password and confirm password do not match
    </div>


    
</div>

<!-- specialized-text entry formgroup -->
<multi-input
    #{{id}}
    [(ngModel)]="form.id"
    formControl="id" *ngIf="type == 'multi-text'"></multi-input>


<div *ngIf="type == 'textarea'" class="col-md-6 mb-2 form-group">
    <label [for]="id">{{ title }}: </label>
    <textarea
        #{{id}}
        [(ngModel)]="form.id"
        class="form-control"
        [name]="id"
        [id]="id"></textarea>
</div>

<div *ngIf="type == 'select' && options" class="col-md-6 mb-2 form-group" [ngModelGroup]="form">
    <label [for]="id">{{ title }}: </label>
    <select
        #{{id}}
        [(ngModel)]="form.id"
        multiple
        class="form-control"
        [name]="id"
        [id]="id">
        <option *ngFor="let o of options" [value]=o>{{ o }}</option>
    </select>
</div>

<!-- the choices are all appearing on the same line for radio and checkboxes -->
<fieldset *ngIf="type == 'checkbox'">
    <h3>{{ title }}:</h3>
    <div class="checkbox" *ngFor="let opt of options">
        <label for="{{ opt.name }}">
            <input
                type="checkbox"
                name="id"
                id="id_opt.name"
                value="opt.name"
                [(ngModel)]="checkboxSelected">
            {{ opt.name }}
        </label>
    </div>
</fieldset>

<fieldset *ngIf="type == 'radio'">
    <h3>{{ title }}:</h3>
    <div class="radio" *ngFor="let opt of options">
        <label for="{{ opt.name }}">
            <input 
                type="radio" 
                name="id"
                id="id_opt.name"
                value="opt.name"
                [(ngModel)]="radioSelected">
            {{ opt.name }}
        </label>
    </div>
</fieldset>
