<h3>{{username}}'s contribution dashboard</h3>

<zippy title="Ratings">
    <ul>
        <li *ngFor="let r of ratings">
            <!-- /maybe we should use username_gameName as path to docs? -->
            {{ r.value }}
        </li>
    </ul>
</zippy>

<zippy title="Reviews">
    <ul>
        <li>Some content</li>
    </ul>
</zippy>


<zippy title="Comments">
    <ul>
        <li>
            some content...
        </li>
    </ul>
</zippy>


<zippy title="Forum posts">
    <ul>
        <li>
            some content...
        </li>
    </ul>
</zippy>