<div class="row">
    <div class="col-md-6">        
        
        <!-- Reactive form implementation -->
        <form >
            <div class="col-md-6 mb-2">
                <h4>Create a New Thread</h4>
            </div>

            <div class="row">
                <div class="col-md-6 mb-2 form-group" [formGroup]="form">
                    <label for="email">Thread Creator: </label>
                    <input formControlName="creator" class="form-control" id="creator" type="text">
                    <!--Dont need validation for this one because user cant modify it. 
                        
                        <div *ngIf="creator.touched && creator.invalid" class="alert alert-danger">
                        <div *ngIf="creator.errors.required">creator is required</div>
                        <div *ngIf="creator.errors.creator">creator must be properly formated (ie. validcreator@yahoo.com)
                        </div>
                        <div *ngIf="creator.errors.cannotContainSpace">creator address cannot contain spaces</div>
                    </div> -->
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-2 form-group" [formGroup]="form">
                    <label for="topics">Select Topics (optional): </label>
                    
                    <!-- this was originally a select but a drop down input
                    like seen in preferences would make more sense -->
                    
                    <input formControlName="topics" class="form-control" id="topics" type="text">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-2 form-group" [formGroup]="form">
                    <label for="email">Thread Title: </label>
                    <input formControlName="title" class="form-control" id="title" type="text">
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-6 mb-2 form-group" [formGroup]="form">
                    <label for="description">Thread Description: </label>
                    <input formControlName="description" class="form-control" id="description" type="text">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-2 form-group" [formGroup]="form">
                    <label for="invitees">Inivite users to join in discussion:</label>
                    <input formControlName="invitees" class="form-control" id="invitees" type="text">
                </div>
                <div id="invited">invited</div>

            </div>



        </form>


        <!-- <form #finished="ngForm" (ngSubmit)="save(finished.value)">

            <div class="col-md-6 mb-2">
                <h4>Create a New Thread</h4>
            </div>

            <div class="form-group">
                <label for="author">Author of thread:</label>
                <input
                    #author="ngModel"
        
                    [(ngModel)]="thread.author"
                    name="author"
                    id="author"
                    class="form-control"
                    required
                    type="text">                
            </div>


            <div class="form-group">
                <label for="topic">Select Topic:</label>
                <select
                    #topic="ngModel"
                    [(ngModel)]="thread.topics"
                    name="topic"
                    id="topic">
                    <option value="option 1">Opt 1</option>
                    <option value="option 2">Opt 2</option>
                    <option value="option 3">Opt 3</option>
                </select>
            </div>
            
        

     
            <div class="form-group">
                <label for="title">Title: </label>
                <input
                    #title="ngModel"
                    [(ngModel)]="thread.title"
                    name="title"
                    id="title"
                    class="form-control"
                    required
                    type="text"
                    >
                <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
                    <div *ngIf="title.errors.required">Title is required</div>
                </div>
            </div>


            <div class="form-group">
                <label for="description">Description: </label>
                <textarea
                    
                    #description="ngModel"
                    [(ngModel)]="thread.description"
                    name="description"
                    id="description"
                    class="form-control"
                    required
                    type="text"
                    ></textarea>
                <div *ngIf="description.touched && description.invalid" class="alert alert-danger">
                    <div *ngIf="description.errors.required">description is required</div>
                </div>
            </div>

            <button class="btn btn-primary" [disabled]="!finished.valid">Save/update thread</button>
            <button [disabled]="!id" type="button" class="btn btn-danger" (click)="delete(id)">Delete thread</button>
        </form> -->
    
    </div>
<a routerLink="../">Go back to forum</a>
</div>
<!-- <p> {{ finished.value | json }}</p> -->
    
