<div *ngIf="!console_maker">
    <h3>Welcome to consoles homepage</h3>

    <p>
        You can learn about different makers of video game consoles on this page. <br>
        Choose one below to continue
    </p>
    <ul>
        <li *ngFor="let c of gameInfo.console_makers">
            <a [routerLink]="c.title" title="c">
                {{ c.title }}
            </a>

        </li>
    </ul>

</div>

<div *ngIf="console_maker">
    <h3>{{ gameInfo.console_maker.title }}</h3>

    <p>{{ gameInfo.console_maker.description }}</p>
</div>