<div class="top">
    <header>
        <h1>Welcome to IVDB forum</h1>
    </header>
    <nav>
        <ul >
            <li>
                <a routerLink="/forum/create-thread">Create new thread</a>
            </li>
            <li>
                <a routerLink="">Recently posted</a>
            </li>
            <li>
                <a routerLink="">Hot threads</a>
            </li>
            <li>
                <a routerLink="">Search</a>
            </li>
            <li>
                <a routerLink="">Forum Rules and info</a>
                <!-- <ul class="dropdown">
                    <li>Be nice</li>
                    <li>No Doxxing!</li>
                    <li>Threads and users with three violations are temporarily banned or closed.</li>
                    <li>Threads and users with repeated bannings/closings are permenatnly banned or closed</li>
                </ul> -->
            </li>
        </ul>   
    </nav>    
</div>
<main class="thread-body">
    <div class="thread-groups">
        <zippy title="thread family #1">
            some links and stuff go in here
        </zippy>
    
        <zippy title="thread family #2">
            some links and stuff go in here
        </zippy>
    
        <zippy title="thread family #3">
            some links and stuff go in here
        </zippy>
    </div>
    <aside class="side-panel">
        <p>Forum meta data</p>
    
        <div>
            <h3>Top posters</h3>
            <ul>
                <li>Blah</li>
                <li>Blah blah</li>
                <li>Blah Blee Blah Blahalala</li>
            </ul>
        </div>
        <div>
            <h3>Moderators:</h3>
            <ul>
                <li>Splee mcglotenspiel (online)</li>
                <li>Mrs francee pants</li>
                <li>Dogbingo tzmplantencot (online)</li>
            </ul>
        </div>
    
        <div>
            <h3>Forum administrators:</h3>
            <ul>
                <li>Steven Spielberg</li>
                <li>Mike Oldfield (online)</li>
            </ul>
        </div>
    
    </aside>        
</main>

