<a class="card-trigger" href="#">{{ game.title }}</a>
<div class="card-body">
    <img [src]="game.imageUrl" alt=`picture of the cover of ${game.title}`>
    <h3><a [routerLink]="">{{game.title}}</a></h3>
    <p>{{game.description}}</p>
    <span class="dd-trigger">Show more info</span>
    <ul class="game-info">
        <!-- Should include these datapoints in the game document -->
        <li>Average Rating: </li>
        <li>Average Review Score: </li>
        <li>Categories: {{ game.categories }}</li>
        <li>Creators: {{ game.creators }}</li>
        <li>consoles: {{ game.console_makers }}</li>
    </ul>
</div>