<h3>Information about the Internet Videogame Database</h3>

<p>Thanks for visiting the site! We are here to give you up to date and accurate data about Videogames</p>

<p>Generally, there are two broad categoires of data which IVDB deals with:</p>
<ol>
    <li>Content: official posts of the IVDB, including but not limited to- news, streaming information, watchlists and official posts such as games and game info</li>
    <li>Contributions: content produced by regular users and above, which includes comments, forum posts, ratings, reviews and suggestions</li>
</ol>

<h5>We depend on:</h5>
    <zippy title="Guests">
        <ul class="list-group"> 
            <li class="list-group-item">Share content you found interesting.</li>
            <li class="list-group-item">Discuss our efforts to expand online videogame data.</li>
            <li class="list-group-item">Consider becoming a user.</li>
            <li class="list-group-item">Reccomend the site to people you think will find it interesting.</li>
            <li class="list-group-item">PLEASE: show the site to people you know are web developers looking for a project to get involved with</li>   
        </ul>
    </zippy>
    <zippy title="Users">
        <ul class="list-group"> 
            <li class="list-group-item">Contribute to the site through comments and posts</li>
            <li class="list-group-item">Rate and review games</li>
            <li class="list-group-item">Suggest improvements</li>
            <li class="list-group-item">Visit your friends profiles</li>
            <li class="list-group-item">Make groups</li>   
        </ul>
    </zippy>


    <zippy title="moderators">Have the very critical job of ensuring that the IVDB is a tolerant, safe and helpful community. <br>
        When push comes to shove, moderators have the ability to temporarily ban users, close forums and comment sections, and suggest users <br>
        with repeated offenses to be permentant ban from using the site.
    </zippy>

    <zippy title="admins">
        Admins are responsible for managing all content posted on the site. They review all forum, user and content activities and 
        make judgements about the appropriateness and relevancy of content. Their decision making capabilities over ride moderators.

    </zippy>