<navbar></navbar>
<div class="content">
	<router-outlet></router-outlet>
</div>

<!--  sample/ test projects for effect/ ngrx + firebase -->
<!-- {{ message$ | async }}

<button (click)="spanishMessage()">Spanish</button>
<button (click)="arabicMessage()">Arabic</button> -->
<!-- 
<div *ngIf="post | async as p">
	<h2>{{ p.text }}</h2>
	<h4>Votes: {{ p.likes }}</h4>

	<button (click)="upvote()">^ upvote ^</button><br>
	<button (click)="downvote()">v downvote v</button><br>
	<button (click)="resetPost()">Reset</button><br>
<br><br>
	<input [(ngModel)]="text"><br>
	<button (click)="editText()">Change Title</button>



</div> -->