<label for="{{title}}">{{title | titlecase}} :</label>
<ul class="list-group">
    <!-- <descriptor-form></descriptor-form> -->
    <!-- <input class="list-group-item" type="text" #newPost (keyup.enter)="showSubForm = true"> -->
    <input [placeholder]="currentTitle" class="list-group-item" type="text" #newTitle (keyup.enter)="showRest = true">
    <div>
        <textarea #newDescription [placeholder]="currentDescription"></textarea>
        <button [disabled]="formReady" class="btn btn-primary" (click)="completionCheck(newTitle, newDescription)">Update this entry</button>
    </div>
    
    <li class="list-group-item" 
        *ngFor="let p of posts">
            {{p.title}}<br>
            <span (click)="edit(p.uid)">edit</span>&nbsp;&nbsp;
            
            
            <span (click)="delete(p.uid)">delete</span>

        </li>
</ul>
