<!-- this could all be a component- in content dashboard: filter-content-component or search-content-component -->
<div class="filter-box">
  <label for="tl-filter">Select a filter</label>
  <mat-checkbox>recently posted</mat-checkbox>
  <mat-checkbox>top rated</mat-checkbox>
  <mat-checkbox>most shared</mat-checkbox>

  <label for="tag-filter">Or filter by tags/ themes</label>
  <!-- design component for filtering by tags... use the pillboxs instead pf checkbox, darken pillboxes that have been selected -->
  <mat-checkbox>tag 1</mat-checkbox>
  <mat-checkbox>tag 2</mat-checkbox>
  <mat-checkbox>tag 3</mat-checkbox>

  <label for="search">Search for streams</label>
  <input type="text"> <button>search</button>



</div>
<!-- <h3>Content dashboard here</h3>

<div *ngIf="user_id; else anonymousUser">

    <div>
        carosel or social media like feed, amalgamating all forms of reccomeneded content.
    </div>

    <p>
        Come here to be reccomened new video game content <br>
        based on: <br>
    </p>
    <ul>
        <li>Preferences provided by you</li>
        <li>Games you rated, reviewed, commented, and posted to forum about</li>
        <li>What other players who like similar games, consoles to you played</li>
    </ul>

    <zippy title="Watchlists">
        <a routerLink="watchlists">View your personalized watchlists</a>

        user should be able to configure watchlist settings here
    </zippy>
    <zippy title="Streams">

        <a routerLink="streams">View your personalized list of streams</a>

        user should be able to configure stream settings here
    </zippy>
    <zippy title="News">

        <a routerLink="news">View your personalized news feed</a>

        user should be able to configure news feed settings here
    </zippy>
</div>

<ng-template #anonymousUser>

    <div>
        carosel or social media like feed, amalgamating all forms of reccomeneded content.
    </div>

    <p>
        Come here to be reccomened new video game content
    </p>

    <zippy title="Watchlists">
        <a routerLink="watchlists">View watchlists</a>
    </zippy>
    <zippy title="Streams">
        <a routerLink="streams">View list of streams</a>
    </zippy>
    <zippy title="News">
        <a routerLink="news">View news feed</a>
    </zippy>
</ng-template> -->