<zippy title="Comments...">
    <ul class="list-group">
        <li *ngFor="let comment of comments" class="list-group-item">
            <strong>{{comment.username}} :</strong> {{comment.text}}
            <br>
            <button *ngIf="comment.username == username" (click)="delete(comment.uid)">Delete</button>
            <button *ngIf="comment.username == username" (click)="update(comment)">Edit</button>
        </li>
    </ul>
    <input
    (keyup.enter)="create(text)"
    #text
    ngModel 
    type="text"
    name="new_comment"
    id="new_comment"
    class="form-control"
    >
</zippy>

