<h2 mat-dialog-title>Welcome to the Internet Videogame Database!</h2>

<mat-dialog-content>
  <form #newUser="ngForm">
  
    <mat-radio-group class="radio">
      <h3>Provide preferences now or later?</h3>
      <label for="">
        <input ngModel type="radio" [(ngModel)]="newUserPreferences.setPreferencesNow" name="setPreferencesNow" id="" value="now">
        Now
      </label>
      <label for="">
        <input ngModel type="radio" [(ngModel)]="newUserPreferences.setPreferencesNow" name="setPreferencesNow" value="later">
        Later
      </label>
      <p>Preferences help us understand what you like and dislike, so we can better reccomend you content</p>
    </mat-radio-group>  

    <div *ngIf="newUserPreferences.setPreferencesNow === 'now'">
      <!-- TODO: implement preference collection widget- see https://github.com/bps-github7/IVDB/issues/16 about this for client instructions and NFR -->
      preferences collection widget here!
    </div>

    <div class="checkbox" *ngIf="googleUser">
      <h3>You created your account with google:</h3>
      <label>
        <mat-checkbox value="true" name="setNewDisplayName" ngModel [(ngModel)]="newUserPreferences.setNewDisplayName"> 
        I'd like to provide a custom display name
        </mat-checkbox>
      </label>
    </div>

    <mat-form-field *ngIf="newUserPreferences.setNewDisplayName">
      <label for="">Display Name:</label>
      <input type="text" name="newDisplayName" ngModel [(ngModel)]="newUserPreferences.newDisplayName"  >
    </mat-form-field>
  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button type="submit" (click)="submitPreferences()" matDialogClose="true"> Submit</button>
</mat-dialog-actions>