<h2 mat-dialog-title>Welcome to the Internet Videogame Database!</h2>

<mat-dialog-content>
  <form #newUser="ngForm">
  
    <mat-radio-group class="radio" ngModel [(ngModel)]="newUserPreferences.setPreferencesNow" name="setPreferencesNow">
      <h3>Provide preferences now?</h3>
      <mat-radio-button value="yes">yes</mat-radio-button>
      <mat-radio-button value="no">no</mat-radio-button>
      <p>Preferences help us understand what you like and dislike, so we can better reccomend you content</p>
    </mat-radio-group>  

    <div *ngIf="newUserPreferences.setPreferencesNow === 'yes'">
      <!-- TODO: implement preference collection widget- see https://github.com/bps-github7/IVDB/issues/16 about this for client instructions and NFR -->
      preferences collection widget here!
    </div>


    <mat-radio-group *ngIf="newUserPreferences.setPreferencesNow === 'no'" class="radio" name="remindMe" ngModel [(ngModel)]="newUserPreferences.remindMe">
      should we remind you about preferences later?
      <mat-radio-button value="yes">Yes</mat-radio-button>
      <mat-radio-button value="no">No</mat-radio-button>
    </mat-radio-group>  <br>

    <div *ngIf="newUserPreferences.remindMe === 'no'" class="alert alert-info">
      Note: We won't bug you to provide your preferences again.
      However, it is reccomended for better IVDB experience. 
      <i>
        You can always choose to provide them by following the preferences link inside your user profile pages
      </i>
    </div>

    <mat-radio-group *ngIf="newUserPreferences.remindMe === 'yes'" class="radio" name="setReminder" ngModel [(ngModel)]="newUserPreferences.setReminder">
      When should we remind you again?
      <mat-radio-button value="next">Next time I sign in</mat-radio-button>
      <mat-radio-button value="tomorrow">tomorrow</mat-radio-button>
      <mat-radio-button value="week">a week from now</mat-radio-button>
      <mat-radio-button value="month">a month from now</mat-radio-button>


    </mat-radio-group>


    <div class="checkbox" *ngIf="googleUser">
      <h3>You created your account with google:</h3>
      <label>
        <mat-checkbox value="true" name="setNewDisplayName" ngModel [(ngModel)]="newUserPreferences.setNewDisplayName"> 
        I'd like to provide a custom display name
        </mat-checkbox>
      </label>
    </div>

    <mat-form-field *ngIf="newUserPreferences.setNewDisplayName">
      <label for="">Display Name:</label>
      <input type="text" name="newDisplayName" ngModel [(ngModel)]="newUserPreferences.newDisplayName"  >
    </mat-form-field>
  </form>
  {{ newUserPreferences | json }}
</mat-dialog-content>

<mat-dialog-actions>
  <button type="submit" class="submit-btn" (click)="submitPreferences()" matDialogClose="true"> Submit</button>
</mat-dialog-actions>