<h2 mat-dialog-title>Welcome to the Internet Videogame Database!</h2>

<mat-dialog-content>
  <form #newUser="ngForm">
      <h5>Preferences:</h5>
      <!-- TODO: provide tooltip with info for users about what preferences are/ what they are used for.-->
      <label>Provide now or later?</label>
      <mat-form-field class="form-group">
    
        <mat-radio-group>
          <!-- Gets stuck on 'later'...  passing config breaks it!-->
          <mat-radio-button matInput name="immediatePreferences" ngModel #immediatePreferences="ngModel"  value="now">now</mat-radio-button>
          <mat-radio-button matInput name="immediatePreferences" ngModel #immediatePreferences="ngModel" value="later">later</mat-radio-button>
        </mat-radio-group>  

      </mat-form-field>

    <!-- <div *ngIf="immediatePreferences.value === 'now'">
      preferences collection widget here!
    </div> -->

    <!-- <mat-form-field 
      class="form-group"
      >
      <h3>You created your account with google:</h3>
      <label>Would you like to provide a custom display name, or use your google username?</label>
      <mat-checkbox value="true" *ngIf="googleUser"
      class="form-control"
      name="displayNamePreference"
      ngModel
      #displayNamePreferences="ngModel">I'd like to provide a custom display name</mat-checkbox>
    </mat-form-field> -->
  </form>

  {{ newUser.value | json }}

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button-raised>Submit</button>
</mat-dialog-actions>