<div class="row">
    <div class="col-md-6">        
        <form #finished="ngForm" (ngSubmit)="save(finished.value)">
            <!-- categories form group -->
            <div class="form-group">
                <label for="categories">Categories: </label>
                <input
                    #categories="ngModel"
                    [(ngModel)]="gameInfo.categories"
                    name="categories"
                    id="categories"
                    class="form-control"
                    required
                    type="text"
                    >
            </div>
            
            <!-- creators form group -->
            <div class="form-group">
                <label for="creators">Creators: </label>
                <input
                    #creators="ngModel"
                    [(ngModel)]="gameInfo.creators"
                    name="creators"
                    id="creators"
                    class="form-control"
                    required
                    type="text"
                    >
            </div>

            <!-- consoleMakers form group -->
            <div class="form-group">
                <label for="consoleMakers">ConsoleMakers: </label>
                <input
                    #consoleMakers="ngModel"
                    [(ngModel)]="gameInfo.consoleMakers"
                    name="consoleMakers"
                    id="consoleMakers"
                    class="form-control"
                    required
                    type="text"
                    >
            </div>

            <!-- nintendo form group -->
            <div class="form-group">
                <label for="nintendo">nintendo: </label>
                <input
                    #nintendo="ngModel"
                    [(ngModel)]="gameInfo.nintendo"
                    name="nintendo"
                    id="nintendo"
                    class="form-control"
                    required
                    type="text"
                    >
            </div>

            <!-- sony form group -->
            <div class="form-group">
                <label for="sony">Sony: </label>
                <input
                    #sony="ngModel"
                    [(ngModel)]="gameInfo.sony"
                    name="sony"
                    id="sony"
                    class="form-control"
                    required
                    type="text"
                    >
            </div>

            <!-- microsoft form group -->
            <div class="form-group">
                <label for="microsoft">Microsoft: </label>
                <input
                    #microsoft="ngModel"
                    [(ngModel)]="gameInfo.microsoft"
                    name="microsoft"
                    id="microsoft"
                    class="form-control"
                    required
                    type="text"
                    >
            </div>

            <!-- pc form group -->
            <div class="form-group">
                <label for="pc">pc: </label>
                <input
                    #pc="ngModel"
                    [(ngModel)]="gameInfo.pc"
                    name="pc"
                    id="pc"
                    class="form-control"
                    required
                    type="text"
                    >
            </div>

            <!-- mobile form group -->
            <div class="form-group">
                <label for="mobile">mobile: </label>
                <input
                    #mobile="ngModel"
                    [(ngModel)]="gameInfo.mobile"
                    name="mobile"
                    id="mobile"
                    class="form-control"
                    required
                    type="text"
                    >
            </div>
            
            <button class="btn btn-primary" [disabled]="!finished.valid">Save/update game</button>
            <button type="button" class="btn btn-danger" (click)="delete()">Delete game</button>
        </form>
    </div>
    
</div>

<p> {{ finished.value | json }}</p>