<h1>Site Content Dashboard</h1>
<!-- todo: learn about show and hide APIs -->
<mat-button-toggle-group (change)="chosen = $event.value">
	<mat-button-toggle value="all">all site content</mat-button-toggle>
	<mat-button-toggle value="content">content</mat-button-toggle>
	<mat-button-toggle value="contrib">contribution</mat-button-toggle>
</mat-button-toggle-group>

<!-- all site content component -->
<div *ngIf="chosen === 'all'">
	All site content
</div>
<!-- contrib list component -->
<div *ngIf="chosen === 'contrib'">
	all user contributions
</div>

<!-- content list component -->
<ul class="list-group" *ngIf="chosen === 'content'">
	<!-- build and form wont work because the key is 
	"stream" & "watchlist", whereas here you are passing in their plurals -->
	<admin-content-manager 
		*ngFor="let c of contents"
		[contentType]="c.title"
		[build]="c.build"
		[form]="c.form"
		[content$]="c.content">
	</admin-content-manager>
	<!-- <div *ngFor="let c of contents">


		<h3>build :</h3>
		<p>
			{{c.build | json }}
		</p>

		<h3>form:</h3>
		<p>
			{{ c.build | json }}
		</p>


		<h3>
			store slice when selecting for family {{c.title}}:
		</h3>		
		<div *ngFor="let content of (c.content | async)">
			content title : {{ content.title}}
			content description : {{ content.description }}
			content body : {{ content.body }}
			content family : {{ content.family }}
		</div>
	</div>
 -->

</ul>
