<h2 mat-dialog-title>Create, Update or delete news</h2>

<mat-dialog-content [formGroup]="form">

  <reactiveFormControl
    dialog=true
    [buildInfo]="buildInfo.first"></reactiveFormControl>

  <reactiveFormControl
    dialog=true
    [buildInfo]="buildInfo.last"
  ></reactiveFormControl>
  
  <reactiveFormControl
    dialog=true
    [buildInfo]="buildInfo.about"
  ></reactiveFormControl>
  
  <reactiveFormControl
  dialog=true
  [buildInfo]="buildInfo.breakfeast"
  ></reactiveFormControl>

<reactiveFormControl
  dialog=true
  [buildInfo]="buildInfo.dogs"
></reactiveFormControl>
  


  <!-- <reactiveFormControl
    dialog=true
    [buildInfo]="buildInfo.body"
  ></reactiveFormControl>

  
  <reactiveFormControl
    dialog=true
    [buildInfo]="buildInfo.body"
  ></reactiveFormControl> -->
  
  <!-- <mat-form-field>
    <textarea matInput
            placeholder="a short description"
            formControlName="description"></textarea>
  </mat-form-field> <br>

  <mat-form-field>
    <textarea matInput
            placeholder="Body/Content of the news piece"
            formControlName="body"></textarea>
  </mat-form-field> <br> -->


  <!-- <upload-image
    [editing]="titleCardImage"
    (uploadEvent)="setTitleCard($event)"
    (deleteEvent)="deleteTitleCard($event)"
  ></upload-image> <br>
  <button (click)="fileInput.click()">
    <span>Select</span>
    <input #fileInput type="file" (change)="upload($event)" style="display:none;" />
  </button> <br>

  <label id="example-radio-group-label">Tags: <br></label>
  <mat-chip-list
    aria-label="tag selection" >
    <mat-chip *ngFor="let c of categories" [value]="c" (click)="addTag(c)">
      {{ c }}
    </mat-chip>
    
  </mat-chip-list>

  <upload-images
    [editing]="images"
    (uploadEvent)="setImages($event)"
    (deleteEvent)="deleteImage($event)">
  </upload-images>
</mat-dialog-content> -->

<mat-dialog-actions>
  <button
    mat-stroked-button
    (click)="reset()">
    Clear
  </button>
  <button
    mat-dialog-close
    mat-stroked-button>
    Cancle
  </button>
  <button
    (click)="save()"
    mat-raised-button>
    Save
  </button>

  <p>Form data: {{ form.value | json }}</p>
</mat-dialog-actions>