#gamecard {
    margin: 10px 0;
}

#title {
    border: none;
}

#buy {
    padding: 1px 8%;
}

a {
    margin-right: .5em;
    margin-left: .5em;
    padding: 2px 11px;
    border: 4px goldenrod solid;
}

a.gamelink {
    border: none;
    text-decoration: none;
}

img {
    max-width: 300px;
    max-height: 450px;
}
