<div class="row">
    <div class="col-3">
        <div class="list-group">
            <li class="list-group-item"><h2>Game Categories</h2></li>
            <a *ngFor="let c of categories$ | async" class="list-group-item list-group-item-action">
                <input type="checkbox"> {{ c.name }}
            </a>
            <li class="list-group-item"><h2>Creators</h2></li>
            <a *ngFor="let c of creators$ | async" class="list-group-item list-group-item-action">
                <input type="checkbox"> {{ c.name }}
            </a>
            <li class="list-group-item"><h2>Consoles</h2></li>
            <a *ngFor="let c of consoleMakers$ | async" class="list-group-item list-group-item-action">
                <input type="checkbox"> {{ c.name }}
            </a>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <ng-container *ngFor="let g of games$ | async; let i = index">
                <div class="col" id="gamecard">
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="{{ g.payload.val().imageUrl }}" alt="Card image cap">
                        <div class="card-body">
                            <a id="title"
                                [routerLink]="['/games',g.key]"
                                (click)="do_thing(g.key)">
                                <h5 class="card-title">{{ g.payload.val().title }}</h5>
                            </a>
                            <p class="card-text">{{ g.payload.val().price | currency:'USD':true }}</p>
                            <a href="#" class="btn btn-primary" id="buy">Buy</a>
                            <a href="#" class="btn btn-primary">Review</a>
                            <rate></rate>
                        </div>
                    </div>
                </div>
                <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
            </ng-container>
        </div>
    </div>
</div>
