<div class="row">
    <div class="col-3">
        <div class="list-group">
            <li class="list-group-item"><h2>Game Categories</h2></li>
            <li *ngFor="let g of (gameInfo$ | async)?.categories" class="list-group-item list-group-item-action">
                <input type="checkbox"> {{ g }}
            </li>
            <li class="list-group-item"><h2>Creators</h2></li>
            <li *ngFor="let g of (gameInfo$ | async)?.creators" class="list-group-item list-group-item-action">
                <input type="checkbox"> {{ g }}
            </li>
            <li class="list-group-item"><h2>Consoles</h2></li>
            <li *ngFor="let g of (gameInfo$ | async)?.console_makers" class="list-group-item list-group-item-action">
                <input type="checkbox"> {{ g }}
                <!-- find a way to show nintendo, microsoft, sony consoles when the appropriate checkbox is clicked -->
            </li>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <ng-container *ngFor="let g of games$ | async; let i = index">
                <div class="col" id="gamecard">
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="{{ g.imageUrl }}" alt="Card image cap">
                        <div class="card-body">
                            <a id="title"
                                [routerLink]="['/games',g.key]">
                                <h5 class="card-title">{{ g.title }}</h5>
                            </a>
                            <p class="card-text">{{ g.price | currency:'USD':true }}</p>
                            <a href="#" class="btn btn-primary" id="buy">Buy</a>
                            <a href="#" class="btn btn-primary">Review</a>
                            <!---Relying heavily on fireship youtube vid
                                which is done using firestore cloud db (should we switch? not too late atp..)
                                
                                so i can't follow the tut step by step. Can't access userId either
                                maaaaybe changing the rateService so it's a root collection would solve this...
                            <rate [gameId]="g.key" [userId]="userId"></rate>---->
                        </div>
                    </div>
                </div>
                <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
            </ng-container>
        </div>
    </div>
</div>
