<dropdown>skonedalone</dropdown>
<h1>Administrator Homepage</h1>
<br><br>
<zippy title="Administer Forums">
    <input type="checkbox"> Thread 1 <br>
    <input type="checkbox"> Thread 2 <br>
    <input type="checkbox"> Thread 3 <br>
</zippy>
<br><br>
<zippy title="Administer Watchlists">
    <input type="checkbox"> Watchlist 1 <br>
    <input type="checkbox"> Watchlist 2 <br>
    <input type="checkbox"> Watchlist 3 <br>
</zippy>
<br><br>
<zippy title="Administer Streams">
    <input type="checkbox"> Stream 1 <br>
    <input type="checkbox"> Stream 2 <br>
    <input type="checkbox"> Stream 3 <br>
</zippy>