<p>
    <a routerLink="/admin/games/new" class="btn btn-primary">New Game</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title: </th>
            <th>Price: </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let g of games$ | async" >
            <td>{{ g.title }} skonedalone</td>
            <td>{{ g.price }}</td>
            <td>
                <!-- dont think the $ should be before key 
                add this to routerLink after you create this page
                "[/admin/games], p.$key" -->
                <a routerLink="/">Edit (NotImplemented for now...)</a>
            </td>
        </tr>
    </tbody>
</table>