<div *ngIf="percentage | async as pct">
  <progress [value]="pct" max="100"></progress>
  {{ pct | number }}%
</div>



<div *ngIf="snapshot | async as snap; else editMode">

  {{ snap.bytesTransferred }} of {{ snap.totalBytes }} 

  <div *ngIf="downloadURL as url">
    {{file.name}} finished uploading <button class="btn btn-danger" (click)="delete(url)">Remove image</button>
  </div> 

  <button (click)="task.pause()" [disabled]="!isActive(snap)">Pause</button>
  <button (click)="task.cancel()" [disabled]="!isActive(snap)">Cancel</button>
  <button (click)="task.resume()" [disabled]="!(snap?.state === 'paused')">Resume</button>
</div>

<!-- TODO: need a seperate view, that shows something like the upload result, for showing
users the current uploaded image when they are editing a pre exising jawn -->

<ng-template #editMode>
  Here I am with PEARS in hand
</ng-template>