<div class="row">
	<h3>Game Form: create, edit or delete a game</h3>
	<div class="col-md-6">       
		<form [formGroup]="form">
			<div class="form-group">
				<label for="title">Title: </label>
				<input 
					id="title"
					formControlName="title"
					class="form-control">
			</div>
			
			<label for="price">Price: </label>
			<span class="input-group-addon">$</span>
			<input 
				type="number"
				id="price"

				formControlName="price"
				class="form-control">

			<div class="form-group">
				<label for="description">Description:
					<textarea 
						id="description" 
						cols="30" 
						rows="10" 
						formControlName="description"
						class="form-control"></textarea>
				</label>	
			</div>
			
			<div class="form-group">
				<label for="imageUrl">Image Url: </label>
				<input 
					id="imageUrl"
					formControlName="imageUrl"
					class="form-control">
			</div>
			<button class="btn btn-primary">Save/update game</button>
			<!-- <button class="btn btn-primary" [disabled]="!finished.valid">Save/update game</button> -->
			<button type="button" class="btn btn-danger" [disabled]="disableDeleteButton" (click)="delete()">Delete game</button>
		</form>
	</div>
	<div class="col-md-6">
		<div class="card" style="width: 18rem;">
				<img class="card-img-top" [src]="game.imageUrl" alt="Cover of the game being created or edited">
				<div class="card-body">
					<h5 class="card-title">{{ game.title }}</h5>
					<p class="card-text">{{ game.price | currency:'USD':'symbol' }}</p>
				</div>
			</div>
	</div>
</div> 