<div class="row">
	<h3>Game Form: create, edit or delete a game</h3>
	<div class="col-md-6">       
		<form [connectForm]="game$ | async" [formGroup]="form">
			<div class="form-group">
				<label for="title">Title: </label>
				<input 
					type="text"
					class="form-control"
					formControlName="title">
				<div *ngIf="title.errors?.required" class="alert-danger">Title is required</div>
			
			</div>
		
			<div class="form-group">
				<label for="price">Price: </label>
				<span class="input-group-addon">$</span>
				<input 
					type="number"
					min=0
					class="form-control"
					formControlName="price">
				<div *ngIf="price.errors?.min" class="alert-danger">Minimum price is $0 (free)</div>
				
			</div>
		
			<div class="form-group">
				<label for="description">Description: </label>
				<textarea 
					class="form-control"
					formControlName="description"></textarea>
				<div *ngIf="description.errors?.required" class="alert-danger">Description is required</div>
			</div>
		
			<div class="form-group">
				<label for="imageUrl">Cover Image URL: </label>
				<input 
					type="text"
					class="form-control"
					formControlName="imageUrl"
					>
			</div>
		
			<div class="form-group">
				<label for="categories">Categories: </label>
				<select 
					multiple 
					class="form-control"
					formControl="categories">
					<option value=""></option>
					<option 
						*ngFor="let opt of (categories$ | async)"	
						[value]="opt.title">
						{{ opt.title }}
					</option>
				</select>
			</div>
		
			<div class="form-group">
				<label for="creators">Creators: </label>
				<select 
					multiple 
					class="form-control"
					formControlName="creators">
					<option value=""></option>
					<option 
						*ngFor="let opt of (creators$ | async)"	
						[value]="opt.title">
						{{ opt.title }}
					</option>
				</select>
			</div>
		
			<div class="form-group">
				<label for="platforms">Platforms: </label>
				<select 
					multiple 
					class="form-control"
					formControlName="platforms">
					<option value=""></option>
					<option 
						*ngFor="let opt of (platforms$ | async)"	
						[value]="opt.title">
						{{ opt.title }}
					</option>
				</select>
			</div>
		
			<div class="form-group">
				consoles go here, checkbox options are determined by above choice for platform
			</div>

			<button class="btn btn-primary" (click)="save(form.value)" [disabled]="!form.valid">Save game</button>
			<button class="btn alert-danger" (click)="delete()" [disabled]="disableDeleteButton">Delete game</button>
		
		</form>
	</div>
	<div *ngIf="game$ | async as game" class="col-md-6">
		<div class="card" style="width: 18rem;">
				<img class="card-img-top" [src]="game.imageUrl" alt="Cover of the game being created or edited">
				<div class="card-body">
					<h5 class="card-title">{{ game.title }}</h5>
					<p class="card-text">{{ game.price | currency:'USD':'symbol' }}</p>
				</div>
			</div>
	</div>
</div> 