<h3>
    Welcome to the gaming index!
</h3>

<p> Come here to learn about released and anticipated games, consoles, console makers, creators, categories and more</p>


<h5> <a routerLink="creators">Creators:</a></h5>
<ul>
    <li *ngFor="let c of gameInfo?.creators">
        <a [routerLink]="['creators/', c.title]" [title]="c.title">{{ c.title }}</a>
    </li>
</ul>
<h5><a routerLink="categories">Categories:</a></h5>
<ul>
    <li *ngFor="let c of gameInfo?.categories">
        <a [routerLink]="['categories/', c.title]" [title]="c.title">{{ c.title }}</a>
    </li>
</ul>
<h5><a routerLink="console-makers">Console Makers:</a></h5>
<ul>
    <li *ngFor="let c of gameInfo?.console_makers">
        <a [routerLink]="['console-makers/', c.title]" [title]="c.title">{{ c.title }}</a>
    </li>
</ul>

<h5>Nintendo Consoles: </h5>

<ul>
    <li *ngFor="let n of gameInfo?.nintendo ">
                <a [routerLink]="['console-maker/',  n.name]" title="n?.qualifiedName">
                    {{ n.name }}
                </a>
    </li>
</ul>


<h5>Sony Consoles: </h5>

<ul>
    <li *ngFor="let n of gameInfo?.sony ">
                <a [routerLink]="['console-maker/',  n.name]" title="n?.qualifiedName">
                    {{ n }}
                </a>
    </li>
</ul>



<h5>Microsoft Consoles: </h5>

<ul>
    <li *ngFor="let n of gameInfo?.microsoft ">
                <a [routerLink]="['console-maker/',  n.name]" title="n?.qualifiedName">
                    {{ n.qualifiedName }}
                </a>
    </li>
</ul>

<span>this one reallky is nt a thing but included foir now for completions sake</span>

<h5>PC Consoles: </h5>

<ul>
    <li *ngFor="let n of gameInfo?.pc">
                <a [routerLink]="['console-maker/',  n.name]" title="n?.qualifiedName">
                    {{ n.qualifiedName }}
                </a>
    </li>
</ul>