<h1>Configure game info</h1>
<p>Game info is organizational/categorical data associated with videogames of all types, including:</p>
<ul>
    <li><zippy title="Categories: What broad family or familes of games does the game in question belong to?">
        list of all categories <br>
        <a href="">Search for a category</a>
    </zippy></li>
    <li><zippy title="Creators: What game development studio(s) created the game">
        list of all creators <br>
        <a href="">Search for a creator</a>
    </zippy></li>
    <li><zippy title="Console Makers: What line of consoles can the game be played on?">
        list of all conzole makers <br>
        <a href="">Search for a console maker</a>
    </zippy></li>
    <li>
        <zippy title="Console: What consoles in paticularly can the game be played on?">
            <ul>
                <li><strong>Nintendo:</strong> switch, wii u, wii, gamecube ...</li>
                <li><strong>Sony:</strong> PS5, PS4 ...</li>
                <li><strong>Microsoft:</strong> Xbox S, Xbox one, Xbox 360...</li>
                <li><strong>PC:</strong>steam, misc...</li>
                <li><strong>Mobile:</strong> IOS, Android ...</li>
            </ul>
            <a href="">Search for a console</a>
        </zippy>
    </li>
</ul>

<a routerLink="admin/game/info/new">edit game-info</a>


