
/* 
these rule sets probably arent very adaptive/reactive... 
test w/ multiple Viewports, consider using different measures like vH
*/

.form-group {
    margin-left: 20em;
    margin-right: 20em;
}

.form-extras {
    margin-left: 20em;
    margin-right: 20em;
}
