<!---drop down menu--->
<li
	class="dd-menu-trigger"
	>
    <a [routerLink]="['/',module]">
        {{module}}
    </a>    
	<ul
		class="dd-sub-menu"
		>
		<li
			*ngFor="let c of children">
            <a [routerLink]="['/',module,c]">
				{{c}}
			</a>
		</li>
	</ul>
</li>


<!-- old nav bar -->
<!-- <nav>
    <header>
        <a class="logo" alt="Internet Video-game Database" routerLink=''>IVDB</a>
        <input id="searchbar" type="text" placeholder="Search IVDB">
    </header>
    <ul class="dd-menu">
        <li class="dd-menu-trigger"><a routerLink="content">New Content</a>
            <ul class="sub-menu">
                <li><a routerLink="/content/watchlists">Watchlists</a></li>
                <li><a routerLink="/content/streams">Streams</a></li>
                <li><a routerLink="/content/news">News</a></li>
                <li class="sub-sub-menu-trigger"><a routerLink="/content/recently-posted">Recent</a>
                    <ul class="sub-sub-menu">
                        <li class="sub-sub-top"><a routerLink="/content/recently-posted/posts">Posts</a>
                        </li>
                        <li><a routerLink="/content/recently-posted/ratings">Ratings</a></li>
                        <li><a routerLink="/content/recently-posted/reviews">Reviews</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="dd-menu-trigger"><a routerLink="forum">Forum</a>
            <ul class="sub-menu">
                <li><a routerLink="/forum/forums">View Threads</a></li>
                <li><a routerLink="/forum/threads/new">Create a Thread</a></li>
                <li class="sub-sub-menu-trigger"><a [routerLink]="['forum/my-posts/', appUser?.username]">My posts</a>
                    <ul class="sub-sub-menu">
                        <li class="sub-sub-top"><a href="#">Thread 1</a></li>
                        <li><a href="#">Thread 2</a></li>
                        <li><a href="#">Thread 3</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="dd-menu-trigger"><a routerLink="games">Games</a>
            <ul class="sub-menu">
                <li class="sub-sub-menu-trigger"><a routerLink="/games/all">Browse Games</a>
                    <ul class="sub-sub-menu">
                        <li class="sub-sub-top"><a href="#">Platformer</a></li>
                        <li><a href="#">RPG</a></li>
                        <li><a href="#">Combat</a></li>
                        <li><a href="#">Sports</a></li>
                    </ul>
                </li>
                <li><a routerLink="/games/info">Info</a></li>
            </ul>
        </li>
        <li class="dd-menu-trigger" *ngIf="appUser; else anonymousUser" id="profile-nub">
            <a  routerLink="user">{{ appUser.username }}</a>
            <ul class="sub-menu">
                <li *ngIf="appUser.isAdmin" class="sub-sub-menu-trigger"><a routerLink="/admin/game">Adminster</a>
                    <ul class=sub-sub-menu>
                        <li class="sub-sub-top">
                            <a routerLink="admin/game">Games</a>
                        </li>
                        <li>
                            <a routerLink="admin/forum">Forums</a>
                        </li>
                        <li>
                            <a routerLink="admin/site">Site</a>
                        </li>

                        
                    </ul>
                </li>
                <li *ngIf="appUser">
                    <a [routerLink]="['user/profile/', appUser?.id, appUser?.username]">
                        Profile
                    </a>
                </li>

                <li class="dd-menu-trigger"><p>Edit</p>
                    <ul class="sub-menu">
                        <li class="sub-sub-top"><a
                                [routerLink]="['/user/sign-in/create-profile/', appUser?.id]">Profile</a></li>
                        <li><a [routerLink]="['/user/preferences/', appUser?.id, appUser?.username]">Preferences</a>
                        </li>
                        <li><a routerLink="contrib/edit">Contributions</a>
                        </li>
                    </ul>
                </li>
                <li class="dd-menu-trigger"><a routerLink="/contrib/view">Contribute</a>
                    <ul class="sub-menu">
                        <li class="sub-sub-top">
                            <a routerLink="contrib/view/ratings">Rate</a>
                        </li>
                        <li>
                            <a routerLink="/contrib/view/review">Review</a>
                        </li>
                        <li><a
                            routerLink="/contrib/suggest">Suggest</a>
                        </li>
                    </ul>
                </li>
                <li class="btn-dd-danger"><a href="#" class="btn-dd-danger" (click)="logout()">logout</a></li>
            </ul>
        </li>
        <ng-template #anonymousUser>
            <a routerLink="/user/sign-in">Sign in</a>
        </ng-template>
    </ul>
</nav> -->