<button *ngIf="!showRest" (click)="showRest = true">Enter a new console</button>
<div *ngIf="showRest">
    <form>
        <zippy title="help with nickname vs name">
            <strong>Nickname:</strong> <span>Common parlance for the name of the system. Often made by abbreviating words in the console name and not including the maker/company name (ie. playstation 2 = PS2)</span><br>

            <strong>Name:</strong><span>The fully spelled out name for the system, effectivly the opposite of nickname. (ie PS2 becomes playstation 2)</span>

            <strong>Qualified Name:</strong><span>The full name with maker and name put together (ie. Sony Playstation 2). No need to provide this one, as name and maker provided is sufficient.</span>
        </zippy>

        <div class="form-group" [formGroup]="form">
            <label for="nickname">Nickname:
                <input 
                    type="text"
                    id="nickname"
                    name="nickname"
                    class="form-control"
                    formControlName="nickname">
            </label>
        </div>


        <div class="form-group" [formGroup]="form">
            <label for="name">Name:
                <input 
                    type="text"
                    id="name"
                    name="name"
                    class="form-control"
                    formControlName="name">
            </label>
        </div>
        
        <div class="form-group" [formGroup]="form">
            <label for="maker">Maker:
                <select name="maker" id="maker" class="form-control" formControlName="maker">
                    <option [value]="g.title" *ngFor="let g of platforms">{{ g.title}}</option>
                </select>
            </label>
        </div>

        <div>
            Qualified Name : {{ maker }} {{ name }}
        </div>

        <!-- TODO: what we can do instead of name vs qualifiedNAme is have a nickname field like : playstation 2 = ps2, playstation portable = psp -->
        
        <div class="form-group" [formGroup]="form">
            <label for="generation">Generation:

                <!-- TODO: id like this to be a reactive-select-form-control  -->              
                <input class="form-control" formControlName="generation" type="number" name="generation" id="generation" min=1 max=10>

            </label>
        </div>


        <div class="form-group" [formGroup]="form">
            <label for="type">Type:
                <select name="type" id="type" class="form-control" formControlName="type">
                    <option [value]="g" *ngFor="let g of types">{{g}}</option>
                </select>
            </label>
        </div>

        <!-- vvv optional inputs are below vvv -->

        <div class="form-group" [formGroup]="form">
            <label for="released">Release Date:
                <input type="date" id="released" name="released" class="form-control" formControlName="released">
            </label>
        </div>

        <div class="form-group" [formGroup]="form">
            <label for="image">Image URL:
                <input type="text" url id="image" name="image" class="form-control" formControlName="image">
            </label>
        </div>

        <div class="form-group" [formGroup]="form">
            <label for="description">Description of console:
                <textarea name="description" id="description" class="form-control" formControlName="description" id="" cols="30" rows="10"></textarea>
            </label>
        </div>


        <!-- TODO: one thing missing- image url -->

        <!-- TODO: optional description -->

        <button class="btn btn-primary" (click)="save()">Submit New Console</button>
        <button class="btn btn-danger" (click)="reset()">Reset form</button>

        <p>{{ form.value | json }}</p>
        

    </form>     




    
    

    



</div>