<input placeholder="Click to enter a new console" type="text" (click)="showRest = true">
<div *ngIf="showRest">

    <form>
        
        <div class="form-group" [formGroup]="form">
            <label for="name">Name:
                <input 
                    type="text"
                    id="name"
                    name="name"
                    class="form-control"
                    formControlName="name">
            </label>
        </div>

        <div class="form-group" [formGroup]="form">
            <label for="qualifiedName">Qualified (full) name: 
                <input 
                    type="text"
                    id="qualifiedName"
                    name="qualifiedName"
                    class="form-control"
                    formControlName="qualifiedName">
            </label>
        </div>
        <!-- TODO -->
        <a href="">Info (put a tooltip here)</a>
        
        
        
        <div class="form-group" formGroup="generation">

            <!-- TODO: todo timeline- the great form-shift appears our reusable 'reactive-select-form-control' isnt working. values arent displaying, even though
            we replaced our number array with objects that have a title instance.  -->
            <!-- <reactive-select-form-control label="generation:" [options]="generations" formControlName="generation"></reactive-select-form-control> -->
        
            <!-- <label for="generation">Generation:
                <select id="generation" name="generation" formControlName="generation" class="form-control">
                    <option value=""></option>
                    <option [value]="g" *ngFor="let g of generations">{{g}}</option>
                </select>
            </label> -->
        </div>

        <div class="form-group" [formGroup]="form">
            <label for="released">Release Date:
                <input type="date" id="released" name="released" class="form-control" formControlName="released">
            </label>
        </div>

        <!--
        <div class="form-group">
            <label for="type">Console Type:</label>
            <select name="type" id="type" class="form-control" formControlName="type">
                <option [value]="g" *ngFor="let g of types">{{g}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="maker">Console Maker:</label>
            <select name="maker" id="maker" class="form-control" formControlName="maker">
                <option [value]="g" *ngFor="let g of platforms">{{ g.title}}</option>
            </select>
        </div> -->

        <p>{{ form.value | json }}</p>
        

    </form>     




    
    

    



</div>