<div>
    <!-- <img [src]="profile.publicProfile.profileImg" alt="Default user image"> -->
    <!-- zippy may decrease accessability here.. -->
    <zippy [title]=
    'user?.username'>
        <zippy title="Preferences">
            fill out with stuff submitted through create-profile form
            can have nested zippies EVERYWHEREEEE!!!!
        </zippy>   
        <hr><br>
        <zippy title="Account Configuration">
            Account #: {{ user.uid }}<br>
            email: {{ user.email }}<br>
            <hr><br>
            <a href="#">change password</a>
            <hr><br>
        </zippy>
        <zippy title="Ratings & Reviews">
            <a href="">see all ratings</a>
            <a href="">see all reviews</a>
            <a href="">Favorites, dislikes and more</a>
        </zippy>
        <!-- need to do some route/ activated route manipulation to get this working -->
        <a [routerLink]="['sign_in/create-profile/',user.username,'/update']">Edit profile</a>
    </zippy>
</div>