img {
    max-width: 200px;
    max-height: 200px;
}

h3 { padding-left: 10%;}

.block-content {
    background-color: lightcyan;
    padding: 2em;
    border: 2px solid black
}

.left-content {
    float: right;
    /* color: greenyellow; */
}