<h3>Welcome to NGRX content hub!</h3>
<hr>

<div *ngFor="let content of contents | async">
	<h3>{{content.title}}</h3>
	<span><strong>description:</strong>{{content.description}}</span>
	<p>{{content.body}}</p>
	<input type="text" placeholder="enter a new title" [(ngModel)]="title"><br>
	<textarea placeholder="enter a short description" cols="30" rows="10" [(ngModel)]="description"></textarea><br>
	<textarea placeholder="enter a new body... like robot in invincible" [(ngModel)]="body"  cols="30" rows="10"></textarea><br>
	
	<button (click)="updateContent(content.id, title, description, body)">Update Content</button>
	
	<button (click)="deleteContent(content.id)">Delete content</button>
</div>
<zippy title="create a new jawn">
	<input type="text" placeholder="enter a new title" #newTitle><br>
	<textarea placeholder="enter a short description" cols="30" rows="10" #newDescription></textarea><br>

	<textarea placeholder="enter a new body... like robot in invincible" #newBody  cols="30" rows="10"></textarea><br>
	<button (click)="createContent(newTitle.value, newDescription.value, newBody.value)">create new content</button>
</zippy>