<h3>All Threads: </h3>
<p>Sort by 
    <select name="" id="">
        <option value="">recently posted</option>
        <option value="">Most active</option>
        <option value="">Most views</option>
        <option value="">Most posts</option>
    </select>
</p>

<ul>
    <li
        *ngFor="let thread of allThreads"
    >
        <!-- component- thread-info-card : take uid of thread as input- display thread info  -->

        <a [routerLink]="['../create-thread',thread.uid]">{{thread.title}}</a>
    </li>
</ul>