<div class="row mt-4">
    <form #profile>
        <h3>Public Profile: </h3>
    
        <article class="row">
            <div class="col-md-6 mb-2">
                <label for="nickname">Provide a nickname for your account (current: username)</label>
                <input
                    id="nickname"
                    class="form-control"
                    required
                    name="nickname"
                    type="text">
            </div>

            <div class="col-md-6 mb-2 form-group">
                <label for="profile_image">Profile image: </label>
                <input 
                    id="image"
                    class="form-control"
                    required
                    [(ngModel)]="profile.image"
                    name="image"
                    type="image">
            </div>
<!--     
            <div class="col-md-6 mb-2">
                <label for="background_image">Provide a background image for your account (optional)</label>
                <select
                    multiple
                    required
                    [(ngModel)]="profile.background_img"
                    name="background_img" 
                    id="background_img"
                    class="form-control">
                        <option value="Banana">Banana</option>
                        <option value="Sundae">Sundae</option>
                        <option value="Beachfront Estate">Beachfront estate</option>
                        <option value="custom">Provide your own</option>
                </select>
                <input *ngIf="background_img.value == 'custom'" type="image">
                <div *ngIf="background_img.value">
                    Background image not selected will result in random assignment. Ok?
                    <input type="radio" name="yes" id="yes"> yes
                    <input type="radio" name="no" id="no"> no 
                </div>
            </div>
    
            <div class="col-md-6 mb-2">
                <label for="gamer_tags">Enter gamertags (optional)</label>
                <input id="gamer_tags"
                    [(ngModel)]="profile.gamer_tags"
                    class="form-control"
                    name="gamer_tags"
                    type="text">
            </div>
    
            <div class="col-md-6 mb-2">
                <label for="bio">Biography/user description</label>
                <textarea 
                    name="bio"
                    id="bio"
                    [(ngModel)]="profile.bio"
                    class="form-control"
                    cols="30"
                    rows="10"
                    [(ngModel)]="profile.bio">
            </div>


            
            <div class="col-md-6 mb-2">
                <label for="links">links: (press enter )</label>
                <input
                
                    id="links"
                    class="form-control"
                    [(ngModel)]="profile.links"
                    name="links"
                    type="text">
            </div>

            
            
            
            <p>gamertags should behabe just like the above</p>
    
            
            <div id="gamer_tags-container">
                for posting gamer tags submitted through above.
                get this looking right, float it to the right. 
            </div> -->
        </article>
    </form>
</div>