<div class="row mt-4">
    <form #finished="ngForm" (ngSubmit)="save(finished.value)">
        <zippy title="Public Profile: " class="row">
            <div class="form-group col-md-6 mb-2">
                <label for="nickname">Provide a nickname for your account (current: username)</label>
                <input
                    #nickname
                    [(ngModel)]="profile.nickname"
                    required
                    id="nickname"
                    class="form-control"
                    name="nickname"
                    type="text">
            </div>

            <div class="col-md-6 mb-2 form-group">
                <label for="image">Profile image: </label>
                <input
                    #image
                    [(ngModel)]="profile.image"
                    id="image"
                    class="form-control"
                    required
                    name="image"
                    type="text">
            </div>
    
            <div class="col-md-6 mb-2 form-group">
                <label for="backgroundImg">Provide a background image for your account (optional)</label>
                <select
                    #backgroundImg
                    [(ngModel)]="profile.backgroundImg"
                    multiple
                    required
                    name="backgroundImg" 
                    id="backgroundImg"
                    class="form-control">
                        <option value="Banana">Banana</option>
                        <option value="Sundae">Sundae</option>
                        <option value="Beachfront Estate">Beachfront estate</option>
                        <option value="custom">Provide your own</option>
                </select>
                <!-- <input *ngIf="background_img.errorvalue == 'custom'" type="text">
                <div *ngIf="background_img.value">
                    Background image not selected will result in random assignment. Ok?
                    <input type="radio" name="yes" id="yes"> yes
                    <input type="radio" name="no" id="no"> no 
                </div> -->
            </div>

            <div class="col-md-6 mb-2 form-group">
                <label for="bio">Biography/user description</label>
                <textarea
                    #bio
                    [(ngModel)]="profile.bio"
                    name="bio"
                    id="bio"
                    class="form-control"
                    cols="30"
                    rows="10"></textarea>
            </div>
            
            <div class="col-md-6 mb-2 form-group">
                <label for="links">links: (press enter )</label>
                <input
                    (keydown.enter)="add_link(links)"
                    #links
                    [(ngModel)]="profile.links"
                    id="links"
                    class="form-control"
                    name="links"
                    type="text">
            </div>

            <!-- float to the right -->

            <div id="container">
                <ul> <h3>Links:</h3>
                    <li *ngFor="let g of _links">{{ g }}</li>
                </ul>
            </div>
            

            <div class="col-md-6 mb-2 form-group">
                <label for="gamerTags">Enter gamertags</label>
                <input
                    (keydown.enter)="add_gamerTag(gamerTags)"
                    #gamerTags
                    [(ngModel)]="profile.gamerTags"
                    id="gamerTags"
                    class="form-control"
                    name="gamerTags"
                    type="text">
            </div>
            
            <!-- float to the right -->
            <div id="container">
                <ul> <h3>gamer tags: </h3>
                    <li *ngFor="let g of _gamerTags">{{ g }}</li>
                </ul>
            </div>


        </zippy>

        <!-- should all be in a sep component for preferences -->

        <zippy class="row" title="Favorites: ">
            <tdf-formgroup form="profile" id="favorite_games" title="Favorite Games"></tdf-formgroup>
        
            <tdf-formgroup form="profile" id="favorite_consoles" title="Favorite Consoles"></tdf-formgroup>
        
            <tdf-formgroup form="profile" id="favorite_type" title="Favorite Types of Games" type="select" [options]="['adventure', 'action', 'role-playing', 'sports', 'platformer']"></tdf-formgroup>      

            <tdf-formgroup form="profile" id="bacon" title="bacon" type="radio" [options]="['yes','no']"></tdf-formgroup>
        
            <tdf-formgroup form="profile" id="apricots" title="How often do you eat apricots" type="checkbox" [options]="['hourly', 'daily', 'monthly', 'never']"></tdf-formgroup>      
        </zippy>

        <!-- display settings -->

        <!-- account settings -->
        

        <!-- preferences go here -->
        <button class="btn btn-primary" [disabled]="!finished.valid">Update Profile</button>
    </form>
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="profile.image" alt="Cover of the game being created or edited">
            <div class="card-body">
              <h5 class="card-title">{{ profile.nickname }}</h5>
              <p class="card-text">{{ profile.bio }}</p>
            </div>
          </div>
    </div>
</div>