
<mat-button-toggle-group (change)="chosen = $event.value">
    <mat-button-toggle value="content">Content</mat-button-toggle>
    <mat-button-toggle value="contrib">Contributions</mat-button-toggle>
    <mat-button-toggle value="all">All Activity</mat-button-toggle>
</mat-button-toggle-group>


<!-- TODO: implement this... 
-->
<div *ngIf="chosen == 'all'">
  want to make a 'activity log' service and UI component to display here,
  which will list ALL activities by recency to the site, and use this for each category of activity
  - ie "admin 'BenSehnert' added a new game 'Call of Duty Mobile' click to show more" 
  
  this will require updating every service (or making a global firestore service) that adds a log
  every time something is added to the database.
</div>


<div *ngIf="chosen == 'content'">
    <ul class="list-group">
        <li class="list-group-item">
            <h3>News:</h3>
            <!-- bring up a dialog box instead of traveling to a new route! -->
            <button
                mat-raised-button
                (click)="openDialog('news')">
                Add news
            </button><br>
            Show recent news<mat-slide-toggle (change)="showNews = !showNews"></mat-slide-toggle>
            <!-- TODO: Id like to have this as a component, with two modes:
              1. minified- like below, display 5 or six of the latest entries
                less capabilities such as search, filter, but a button "show all news" to go to mode 2
              2.  a routed component with search, autocompletion, filtering, that displays all news content
                we have. I would be happy to make it but it would be messy and bug friendly because of how
                we access the services in this parent component. Also not sure how to accomplish:
                {{ object.attribute }} without using 'eval'. 
            
            -->
            <table *ngIf="showNews" mat-table [dataSource]="news$" class="mat-elevation-z8">

              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> title </th>
                <td mat-cell *matCellDef="let news">
                  <span 
                  #tooltip="matTooltip"
                  [matTooltip]="news.description"
                  matTooltipPosition="after"
                  matTooltipHideDelay="0">
                  {{news.title}}
                </span> 
                </td>
              </ng-container>


              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let news">
                  <!-- <button 
                    (click)="openDialog('news', news)"
                    mat-stroked-button>Edit
                  </button>   -->

                </td>
              </ng-container>

              
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let news">
                  <button 
                    (click)="deleteNews(news.uid)"
                    mat-stroked-button>Delete
                  </button>
                </td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table> <br>

            <!-- <img *ngIf="downloadURL" [src]="downloadURL" style="max-width: 50px"/> -->
<!--             
            Show recently uploaded news:<mat-slide-toggle (change)="showNewsRecentlyUploaded = !showNewsRecentlyUploaded"></mat-slide-toggle>
            <div *ngIf="showNewsRecentlyUploaded"> -->
              <!-- TODO: You could make another section- showNewsRecentlyUploaded, where each
              contentPiece is a minified image + title card, they can be exited with button on lop left and slide into empty space -->
              <!-- <mat-progress-bar 
                *ngIf="uploadPercent"
                mode="determinate" 
                [value]="uploadPercent | async"></mat-progress-bar>
              <p *ngIf="uploadPercent | async">Uploading TitleCard and/or images</p>

              <img *ngIf="downloadURL | async" [src]="downloadURL | async" style="max-width: 50px"/>
            </div> -->
            <!-- ^^^ Dont really like this to be honest. will be hard to pull off and its really just a compromise because you cant get the image preview inside the dialog. 
            gonna be weird once you have a lot of recently uploaded -->
            
            <!-- Testing our chaps 
              
              <div>upload percentage: {{ uploadPercent | async }}</div>
            <span>Download URL: (please work)</span> -->
            <!-- <img [src]="downloadURL | async" style="maxWidth: 50px"/> -->

            <a *ngIf="showNews" routerLink="admin/site/news/all">
              <button mat-raised-button>View all news</button>
            </a>
        </li>
        <li class="list-group-item">
          <h3>Streams:</h3>
          <button
              mat-raised-button
              (click)="openDialog('stream')">
              Add Stream
          </button><br>
          <mat-data-table 
            mode="minified" 
            [source]="streams$" 
            [config]="streamConfig"
            (openDialogEvent)="openDialog($event)"
            (deleteEvent)="deleteStream($event)"
            ></mat-data-table>
          <!-- Show recent streams<mat-slide-toggle (change)="showStreams = !showStreams"></mat-slide-toggle>
          <table *ngIf="showStreams" mat-table [dataSource]="streams$" class="mat-elevation-z8">

            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> title </th>
              <td mat-cell *matCellDef="let stream">
                <span 
                #tooltip="matTooltip"
                [matTooltip]="stream.description"
                matTooltipPosition="after"
                matTooltipHideDelay="0">
                {{stream.title}}
              </span> 
              </td>
            </ng-container>

            


            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let stream">
                <button 
                  (click)="openDialog('stream', stream)"
                  mat-stroked-button>Edit
                </button>  

              </td>
            </ng-container>

            
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let stream">
                <button 
                  (click)="deleteStream(stream.uid)"
                  mat-stroked-button>Delete
                </button>
              </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table><br> -->
          <a *ngIf="showStreams" routerLink="admin/site/streams/all">
            <button mat-raised-button>View all streams</button>
          </a>
        </li>
        <li class="list-group-item">
          <h3>Watchlists:</h3>
          <button
              mat-raised-button
              (click)="openDialog('watchlist')">
              Create a watchlist
          </button><br>
          Show recent watchlists<mat-slide-toggle (change)="showWatchlists = !showWatchlists"></mat-slide-toggle>
          <table *ngIf="showWatchlists" mat-table [dataSource]="watchlists$" class="mat-elevation-z8">

            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> title </th>
              <td mat-cell *matCellDef="let watchlist">
                  <span 
                    #tooltip="matTooltip"
                    [matTooltip]="watchlist.description"
                    matTooltipPosition="after"
                    matTooltipHideDelay="0">
                    {{watchlist.title}}
                  </span> 
                </td>
            </ng-container>


            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let watchlist">
                <!-- <button 
                  (click)="openDialog('watchlist', watchlist)"
                  mat-stroked-button>Edit
                </button>   -->

              </td>
            </ng-container>

            
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let watchlist">
                <button 
                  (click)="deleteWatchlist(watchlist.uid)"
                  mat-stroked-button>Delete
                </button>
              </td>
              <!-- <td mat-footer-cell *matFooterCellDe>
                <button mat-raised-button> View full data set</button>
              </td> -->
            </ng-container>

           


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table> <br>
          <a *ngIf="showWatchlists" routerLink="admin/site/watchlists/all">
            <button mat-raised-button>View all watchlists</button>
          </a>
      </li>
    </ul>
</div>
<div *ngIf="chosen == 'contrib'">
  nothing to show at this point. should be a list of all user contributions to the site. which we havent started tracking
</div>