
<mat-button-toggle-group (change)="chosen = $event.value">
    <mat-button-toggle value="content">Content</mat-button-toggle>
    <mat-button-toggle value="contrib">Contributions</mat-button-toggle>
</mat-button-toggle-group>

<!-- TODO: want to make a 'activity log' service and UI component to display here,
which will list ALL activities by recency to the site, and use this for each category of activity
- ie "admin 'BenSehnert' added a new game 'Call of Duty Mobile' click to show more" 

this will require updating every service (or making a global firestore service) that adds a log
every time something is added to the database.
-->

<div *ngIf="chosen == 'content'">
    <ul>
        <li>
            <h3>News:</h3>
            <!-- bring up a dialog box instead of traveling to a new route! -->
            <button
                mat-raised-button
                (click)="openDialog('news')">
                Add news
            </button><br>
            Show recent news<mat-slide-toggle (change)="showNews = !showNews"></mat-slide-toggle>
            <table *ngIf="showNews" mat-table [dataSource]="news$" class="mat-elevation-z8">

              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> title. </th>
                <td mat-cell *matCellDef="let news"> {{news.title}} </td>
              </ng-container>


              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let news">
                  <button 
                    (click)="openDialog('news', news)"
                    mat-stroked-button>Edit
                  </button>  

                </td>
              </ng-container>

              
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let news">
                  <button 
                    (click)="deleteNews(news.uid)"
                    mat-stroked-button>Delete
                  </button>
                </td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            
            <!-- <ul
              *ngIf="showNews" 
              class="list-group">
              <li
                *ngFor="let newsPiece of news$" 
                class="list-group-item">
                {{ newsPiece.title }}  
                <button (click)="log(newsPiece.uid)">Edit this jawn</button>
              </li>
            </ul> -->
        </li>
        <li>
            <h3>Streams:</h3>
            <button
                mat-raised-button
                (click)="openDialog('stream')">
                Add Stream
            </button><br>
            Show recent streams<mat-slide-toggle (change)="showStreams = !showStreams"></mat-slide-toggle>
            <ul
              *ngIf="showStreams" 
              class="list-group">
              <li
                *ngFor="let stream of streams$" 
                class="list-group-item">{{ stream.title }}</li>
            </ul>
        </li>
        <li>
            <h3>Watchlists:</h3>
            <button
                mat-raised-button
                (click)="openDialog('watchlist')">
                Create a watchlist
            </button><br>
            Show recent watchlists<mat-slide-toggle (change)="showWatchlists = !showWatchlists"></mat-slide-toggle>
            <ul
              *ngIf="showWatchlists" 
              class="list-group">
              <li
                *ngFor="let watchlist of watchlists$" 
                class="list-group-item">{{ watchlist.title }} </li>
            </ul>

        </li>
    </ul>
</div>
<div *ngIf="chosen == 'contrib'">
  nothing to show at this point. should be a list of all user contributions to the site. which we havent started tracking
</div>