<mat-button-toggle-group (change)="chosen = $event.value">
    <mat-button-toggle value="content">Content</mat-button-toggle>
    <mat-button-toggle value="contrib">Contributions</mat-button-toggle>
    <mat-button-toggle value="all">All Activity</mat-button-toggle>
</mat-button-toggle-group>

<div *ngIf="chosen == 'all'">
  want to make a 'activity log' service and UI component to display here,
</div>

<div *ngIf="chosen == 'content'">
  <ul class="list-group">
		<crud-dropdown *ngFor="let option of options" [contentType]="option"></crud-dropdown>
		
		<!-- TODO: example of calling the minified mat-table.which doesnt work. fix this -->
		<!-- <mat-data-table 
			mode="minified" 
			[source]="streams$" 
			[config]="streamConfig"
			(openDialogEvent)="openDialog($event)"
			(deleteEvent)="deleteStream($event)"
			></mat-data-table> -->
  </ul>
</div>
<div *ngIf="chosen == 'contrib'">
  nothing to show at this point. should be a list of all user contributions to the site. which we havent started tracking
</div>