<!---navbar/drop down menu--->
<nav>
    <header>
        <a class="logo" alt="Internet Video-game Database" routerLink=''>IVDB</a>
        <input id="searchbar" type="text">
        <a routerLink="/search"><button>Search</button></a>
        <ul class="dd-menu">
            <li *ngIf="appUser; else anonymousUser" id="profile-nub">
                <button id="dd-btn">
                    <!-- url prob cant have spaces in it/ making username bad choice    -->
                    <a [routerLink]="['/sign_in/profile/', appUser?.username]">
                        {{ appUser?.username }}
                    </a>
                </button>
                <ul class="sub-menu">
                    <li *ngIf="appUser.isAdmin"><a routerLink="/admin/game">Adminster Games</a></li>
                    <li><a [routerLink]="['/sign_in/create_profile/', appUser?.username]">settings</a></li>
                    <li><a href="#" (click)="logout()">logout</a></li>
                </ul>
            </li>
        </ul>
        <ng-template #anonymousUser>
            <a routerLink="/sign_in"><button>Sign in</button></a>
        </ng-template>
    </header>
    <ul class="dd-menu">
        <li><a routerLink="/watchlists">Watchlist</a>
            <ul class="sub-menu">
                <li><a href="#">New Releases</a></li>
                <li><a href="#">Popular Games</a></li>
                <li><a href="#">Highly Rated</a></li>
                <!-- Submenu here -->
                <li><a href="#">Recent</a>
                    <ul class="sub sub-menu">
                        <li><a href="#">Recently Posted</a></li>
                        <li><a href="#">Recently Reviewed</a></li>
                        <li><a href="#">Recently Released</a></li>
                    </ul>
                </li>          
            </ul>
        </li>
        <li><a routerLink="/forum">Forum</a>
            <ul class="sub-menu">
                <li><a href="#">Just Posted</a></li>
                <li><a href="#">Hot Threads</a></li>
                <li><a href="#">Admin Favorites</a></li>     
            </ul>
        </li>
        <li><a routerLink="/reccomendations">Reccomendations</a>
            <ul class="sub-menu">
                <!-- sub sub menu here -->
                <li><a href="#">This Week's Select Games</a>
                    <ul class="sub sub-menu"> 
                        <li><a href="##">Action/platform</a></li>
                        <li><a href="##">RPG</a></li>
                        <li><a href="##">Sports</a></li>
                    </ul>
                </li>
                <li><a href="#">Browse Topics</a></li>
                <li><a href="#">Well Traveled Reviews</a></li>
                <li><a href="#">This Month's Top Reccomendations</a></li>          
            </ul>
        </li>
        <li><a routerLink="/games">Games</a>
            <ul class="sub-menu">
                <li><a href="#">Platformer</a></li>
                <li><a href="#">RPG</a></li>
                <li><a href="#">Combat</a></li>
                <li><a href="#">Sports</a></li>          
            </ul>
        </li>
        <li><a routerLink="/streaming">Streaming</a>
            <ul class="sub-menu">
                <li><a href="#">What To Watch</a></li>
                <li><a href="#">Playing Now</a></li>
                <li><a href="#">Competitions</a></li>
                <li><a href="#">Speed Running</a></li>          
            </ul>
        </li>
        <li><a routerLink="/rate">Rate it!</a>
            <ul class="sub-menu">
                <li><a href="#">Submit a rating or review</a></li>
                <li><a href="#">Search existing</a></li>          
            </ul>
        </li>
    </ul>
</nav>
<!-- need to 
1)add routing to these links,
2) integrate search bar/ login panel-->