<!---navbar/drop down menu--->
<nav>
    <header>
        <a class="logo" alt="Internet Video-game Database" routerLink=''>IVDB</a>
        <input id="searchbar" type="text" placeholder="Search IVDB">
    </header>
    <ul class="dd-menu">
        <li class="dd-menu-trigger"><a routerLink="/watchlists">New Content</a>
            <ul class="sub-menu">
                <li><a href="#">Watchlists</a></li>
                <li><a href="#">Streams</a></li>
                <li><a href="#">News</a></li>
                <!-- Submenu here -->
                <li class="sub-sub-menu-trigger"><a href="#">Recent</a>
                    <ul class="sub-sub-menu">
                        <li class="sub-sub-top"><a href="#">Posts</a></li>
                        <li><a href="#">Ratings</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </li>          
            </ul>
        </li>
        <li class="dd-menu-trigger"><a routerLink="/forum">Forum</a>
            <ul class="sub-menu">
                <li><a href="#">View Threads</a></li>
                <li><a href="#">Create a Thread</a></li>
                <li class="sub-sub-menu-trigger"><a href="#">My posts</a>
                    <ul class="sub-sub-menu">
                        <li class="sub-sub-top"><a href="#">Post 1</a></li>
                        <li><a href="#">Post 2</a></li>
                        <li><a href="#">Post 3</a></li>
                    </ul>
                </li>     
            </ul>
        </li>
        <li class="dd-menu-trigger"><a routerLink="/gaming-index">Gaming Index</a>
            <ul class="sub-menu">
                <!-- sub sub menu here -->
                <li class="sub-sub-menu-trigger"><a routerLink="/games">Browse Games</a>
                    <ul class="sub-sub-menu"> 
                        <li class="sub-sub-top"><a href="#">Platformer</a></li>
                        <li><a href="#">RPG</a></li>
                        <li><a href="#">Combat</a></li>
                        <li><a href="#">Sports</a></li>        
                    </ul>
                </li>
                <li class="sub-sub-menu-trigger"><a routerLink="/gaming-index/console-makers">Console Makers</a>
                    <ul class="sub-sub-menu"> 
                        <li class="sub-sub-top"><a routerLink="/gaming-index/console-makers/sony">Sony</a></li>
                        <li><a routerLink="/gaming-index/console-makers/nintendo">Nintendo</a></li>
                        <li><a routerLink="/gaming-index/console-makers/microsoft">Microsoft</a></li>
                        <li><a routerLink="/gaming-index/console-makers/pc">PC</a></li>

                    </ul>
                </li>
                <li><a routerLink="/gaming-index/creators">Creators</a></li>
                <li><a routerLink="/gaming-index/categories">Categories</a></li>
                <!-- would be cool to add this detail later- for gizmos and trivia that does not fit into the above categories likadis...
                    <li><a href="#">Misc & historical</a></li>           -->
            </ul>
        </li>
        <li class="dd-menu-trigger" *ngIf="appUser; else anonymousUser" id="profile-nub">
            <a [routerLink]="['/profile/', appUser?.uid, appUser?.username]">
                {{ appUser?.username }}
            </a>
            <!-- can non admin users access this? -->
            <ul class="sub-menu">
                <li *ngIf="appUser.isAdmin"><a class="btn-dd" routerLink="/admin/game">Adminster</a></li>

                <li class="dd-menu-trigger"><a routerLink="/rate">Edit</a>
                    <ul class="sub-menu">
                        <li class="sub-sub-top"><a href="#" [routerLink]="['/sign_in/create_profile/', appUser?.uid]">Profile</a></li>
                        <li><a href="#" [routerLink]="['/preferences', appUser?.uid, appUser?.username]">Preferences</a></li>
                        <li><a href="#" [routerLink]="['/contributions', appUser?.uid, appUser?.username]">Contributions</a></li>          
                    </ul>
                </li> 
                <li class="dd-menu-trigger"><a routerLink="/contrib-dashboard">Contribute</a>
                    <ul class="sub-menu">
                        <li class="sub-sub-top"><a href="">Rate</a></li>
                        <li><a href="">Review</a></li>
                    </ul>
                </li>
                <li class="btn-dd-danger"><a href="#" class="btn-dd-danger" (click)="logout()">logout</a></li>
            </ul>
        </li>
        <ng-template #anonymousUser>
            <a routerLink="/sign_in">Sign in</a>
        </ng-template>
    </ul>
</nav>