<!-- Should make this page dynamic- if you can, loop over the list of game-info descriptors with post component
    rather than hard coding each one like you have. also wouldnt advise having console-info as a component in the markup below.-->
<div class="row">
    <div class="col-md-12">        
        <post 
            [posts]="categories" 
            [title]="gameInfo[0]" 
            (newPostEvent)="addNewDescriptor($event, 'categories')" 
            (editPostEvent)="editDescriptor($event, 'categories')"
            (deletePostEvent)="deleteDescriptor($event)">
        </post>


        
        <post 
            [posts]="creators" 
            [title]="gameInfo[1]" 
            (newPostEvent)="addNewDescriptor($event, 'creators')"
            (editPostEvent)="editDescriptor($event, 'creators')"
            (deletePostEvent)="deleteDescriptor($event)">
        </post>

        <post 
            [posts]="platforms" 
            [title]="gameInfo[2]" 
            (newPostEvent)="addNewDescriptor($event, 'platforms')"
            (editPostEvent)="editDescriptor($event, 'platforms')"
            (deletePostEvent)="deleteDescriptor($event)">
        </post>
    
        <console-info-form></console-info-form>
    </div>
</div>