<img [src]="profile?.backgroundImg" alt="Users background img">

<!-- how do i nest one image inside the other -->
<img [src]="profile?.profileImg" alt="Users profile picture">

<h5>
    Nickname: {{ profile?.nickname }}
</h5>

<zippy title="Profile">
<h5>Bio / Player Profile: </h5>
<p>
    {{ profile?.bio }}
</p>

<!-- <article *ngIf="profile?.gamerTags">
    <h5>GamerTags: </h5>
    <ul>
        <li *ngFor="let g of profile?.gamerTags">{{ g }}</li>
    </ul>
</article>

<article *ngIf="profile?.links">
    <h5>Links: </h5>
    <ul>
        <li *ngFor="let g of profile?.links">{{ g }}</li>
    </ul>
</article> -->

<!-- If the user is the owner of this profile

    <a [router-link]="/sign_in"> Edit your profile </a>



-->


</zippy>

<zippy title="preferences">
    How can a user customize their display of preferences? <br>
<a [routerLink]="['/preferences/', uid, ]">Edit your preferences</a>


</zippy>

<zippy title="contributions">
    here you can see what a user contributes to the site
    <ul>
        <li>rates</li>
        <li>Reviews</li>
        <li>threads</li>
        <li>comments</li>
        <li>articles they liked</li>
    </ul>
</zippy>