<dropdown>skonedalone</dropdown>

<br><br>

<!-- this one is not working. DEPendency/bootstrap is downloaded to version ^3.3.7, 
    <favorite>skonedalone</favorite>
 -->
<zippy title="Rate or Buy">
    some content here<br/>
    heea hoonak
</zippy>
<br><br>
<zippy title="Industry News">
    Sometimes i forget to brush my armpit hair<br/>
    Its like a greasy monkey elbow race in there!
</zippy>
<br><br>
<zippy title="Hearsay">
    I love appricots so much<br/>
    They are the tastiest fruits
</zippy>