<zippy *ngIf="content.title; else errorMsg" [title]="content.title">
  <p>
    Author: {{ content.metadata.creator }} <br>
    Published : {{ content?.metadata.createdAt.toDate() | date:'MM/dd/yyyy hh:ss a' }} <br>
    <span *ngIf="content.metadata.updatedAt">
      last updated : {{ content?.metadata.updatedAt.toDate() | date:'MM/dd/yyyy hh:ss a' }} <br>
    </span>

    {{ content?.description }}
  </p>


  <!-- we should have a main picture single img select vs images which is misc/extra images -->
  <!-- <img [src]="" alt=""> -->

  <p>
    {{ content?.body }}
  </p>



  <footer>
    Links:
    <!-- <ul>
      <li *ngFor="let c of content.links">{{ c }}</li>
    </ul>
    Misc:
    <ul>
      <li *ngFor="let c of content.misc">{{ c }}</li>
    </ul> -->
  </footer>

</zippy>

<ng-template #errorMsg>
  Error while loading this content. It seems that it does not exist anymore, <br>
  the data is corrupted or misplaced, or a magical hedgehog put a pinecone <br>
  inside a sock and spun it around the world three times fast while climb'n da beanstalk!
</ng-template>