<div *ngIf="!console_maker">
    <h3>Welcome to consoles homepage</h3>

    <p>
        You can learn about different makers of video game consoles on this page. <br>
        Choose one below to continue
    </p>
    <ul>
        <li *ngFor="let g of console_makers">
            <a [routerLink]="g.title">{{ g.title }}</a>
        </li>
    </ul>
</div>

<div *ngIf="console_maker">

    <p>Kitty kat go meow meow!</p>
    <h3>{{ console_maker.title }}</h3>

    <p>{{ console_maker.description }}</p>
</div>