<div *ngIf="!console_maker">
    <h3>Welcome to consoles homepage</h3>

    <p>
        You can learn about different makers of video game consoles on this page. <br>
        Choose one below to continue
    </p>
    <ul>
        <li *ngFor="let g of console_makers">
            <a [routerLink]="g.title">{{ g.title }}</a>
        </li>
    </ul>
</div>

<div *ngIf="console_maker">

    <h3>{{ console_maker.title }}</h3>

    <p>{{ console_maker.description }}</p>



    <a routerLink="">Click here for games playable on {{ console_maker.title }} consoles</a>
    <!-- should link to games with route parameter console_maker = (sony | nintendo | microsoft | pc) -->
    <br><hr>
    <h4>Consoles by {{console_maker.title}}:</h4>
    <ul>
        <li *ngFor="let c of console_list">
            <a [routerLink]="c.name">{{ c.name }}</a>
        </li>
    </ul>

</div>