<div class="row">
    <div class="col-md-6">        
        <form #finished="ngForm" (ngSubmit)="save(finished.value)">
            <!-- title form group -->
            <div class="form-group">
                <label for="title">Title: </label>
                <input
                    #title="ngModel"
                    [(ngModel)]="game.title"
                    name="title"
                    id="title"
                    class="form-control"
                    required
                    type="text"
                    >
                <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
                    <div *ngIf="title.errors.required">Title is required</div>
                </div>
            </div>
            <!-- price form group -->
            <div class="form-group">
                <label for="price">Price: </label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input 
                        #price="ngModel" 
                        name="price" 
                        id="price"
                        class="form-control"
                        type="number"
                        [min]="0"
                        [(ngModel)]="game.price" 
                        required>
                </div>
                <div *ngIf="price.touched && price.invalid" class="alert alert-danger">
                    <div *ngIf="price.errors.required">Price is required.</div>
                    <div *ngIf="price.errors.min">Price should be zero or greater.</div>
                </div>
            </div>
            <!-- categories form group -->
            <div class="form-group">
                <label for="categories">Categories: </label>
                <select
                    [(ngModel)]="game.categories"
                    multiple
                    required
                    #categories="ngModel"
                    name="categories"
                    id="categories"
                    class="form-control"
                    >
                    <option value=""></option>
                    <option *ngFor="let g of categories" [value]="g">
                        {{ g.title }}
                    </option>
                </select>
                <div *ngIf="categories.touched && categories.invalid" class="alert alert-danger">
                    <div *ngIf="categories.errors.required">Categories is required</div>
                    <div></div>
                </div>
            </div>
            <!-- creators form group -->
            <div class="form-group">
                <label for="creators">Creators: </label>
                <select
                    #creators="ngModel"
                    multiple
                    required
                    [(ngModel)]="game.creators"
                    name="creators" 
                    id="creators"
                    class="form-control"
                    >
                    <option value=""></option>
                    <option *ngFor="let g of creators" [value]="g">
                        {{ g.title }}
                    </option>
                </select>
                <div *ngIf="creators.touched && creators.invalid" class="alert alert-danger">
                    <div *ngIf="creators.errors.required">Creators is required</div>
                    <div></div>
                </div>
            </div>
            <!-- consoleMakers form group: we dont acyually do anything with this value
                 except use it to render console selection checkboxes below -->
            <div class="form-group">
                <label for="consoleMakers">Console Makers: </label>
                <select
                    #console
                    #consoleMakers="ngModel"
                    multiple
                    required
                    [(ngModel)]="game.consoleMakers"
                    name="consoleMakers" 
                    id="consoleMakers"
                    class="form-control"
                    >
                    <!-- bug here: console label still appears even if blank option is selected -->
                    <option value=""></option>
                    <option *ngFor="let g of console_makers" [value]="g.title">
                        {{ g.title }}
                    </option>
                </select>
                <!-- does checkbox input need to be in some form control  element? -->
                <label *ngIf="consoleMakers.value && !consoleMakers.invalid">Console: </label>

                <!-- only one option can be selected at a time, and if deselected, checkbox data is lost upon reselect -->
                


                <!-- checkbox list for nintendo -->
                <div id="console_sublist"  *ngIf="consoleMakers.value == 'Nintendo'">
                    <ul>
                        <li *ngFor="let n of gameInfo?.nintendo ">
                            <div class="checkbox">
                                <label>
                                    <!-- current set up not ideal because commiting to it would mean listing each possibility (approaching innumerable)
                                    as a boolean key value pair -->
                                    <a [routerLink]="['../../../gaming-index/console-maker/',  n.name]" title="n?.qualifiedName">
                                        <input type="checkbox" name="console" value="n" ngModel> {{ n.name }}
                                    </a>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <!-- checkbox list for sony -->
                <div id="console_sublist"  *ngIf="consoleMakers.value == 'Sony'">
                    <ul>
                        <li *ngFor="let n of gameInfo?.sony">
                            <div class="checkbox">
                                <label>
                                    <a [routerLink]="['../../../gaming-index/console-maker_makers/sony/', n.name]" title="n?.qualifiedName">
                                        <input type="checkbox" name="console" value="n" ngModel> {{ n.name }}
                                    </a>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <!-- checkbox list for Microsoft -->
                <div id="console_sublist"  *ngIf="consoleMakers.value == 'Microsoft'">
                    <ul>
                        <li *ngFor="let n of gameInfo?.microsoft">
                            <label>
                                <a [routerLink]="['../../../gaming-index/console-maker/microsoft/', n.name]" [title]="n?.qualifiedName">
                                    <input type="checkbox" name="console" value="n" ngModel> {{ n.name }}
                                </a>
                            </label>
                        </li>
                    </ul>
                </div>
                
                <!-- checkbox for PC -->
                <div id="console_sublist"  *ngIf="consoleMakers.value == 'PC'">
                    <ul>
                        <li *ngFor="let n of gameInfo?.pc"> 
                            <!-- where(some attribute == "pc").then(do some stuff w this) -->
                            <div class="checkbox">
                                <label>
                                    <a [routerLink]="['../../../gaming-index/console-maker/pc/', n.name]" title="n?.qualifiedName">
                                        <input type="checkbox" name="console" value="n" ngModel> {{ n.name }}
                                    </a>
                                </label>
                            </div>                            
                        </li>
                    </ul>
                </div>
                
                <!-- error handling -->
                <div *ngIf="consoleMakers.touched && consoleMakers.invalid" class="alert alert-danger">
                    <div *ngIf="consoleMakers.errors.required">Console Maker(s) is required</div>
                </div>
            </div>
            <!-- description form group     -->
            <div class="form-group">
                <label for="description">Description: </label>
                <textarea
                    #description="ngModel" 
                    name="description"
                    id="description"
                    class="form-control"
                    cols="30"
                    rows="10"
                    required
                    [(ngModel)]="game.description"          
                    ></textarea>
                <div *ngIf="description.touched && description.invalid" class="alert alert-danger">
                    <div *ngIf="description.errors.required">Description is required</div>
                </div>
            </div>
            <!-- imageUrl form group -->
            <div class="form-group">
                <label for="imageUrl">Image URL: </label>
                <input
                    #imageUrl="ngModel"
                    id="imageUrl"
                    class="form-control"
                    required
                    [(ngModel)]="game.imageUrl"
                    name="imageUrl"
                    type="text"
                    url
                    >
                <div *ngIf="imageUrl.touched && imageUrl.invalid" class="alert alert-danger">
                    <div *ngIf="imageUrl.errors.required">Image URL is required</div>
                    <div *ngIf="imageUrl.errors.url">Must be a valid URL</div>
                </div>
            </div>
            <button class="btn btn-primary" [disabled]="!finished.valid">Save/update game</button>
            <button type="button" class="btn btn-danger" (click)="delete()">Delete game</button>
        </form>
    </div>
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="game.imageUrl" alt="Cover of the game being created or edited">
            <div class="card-body">
              <h5 class="card-title">{{ game.title }}</h5>
              <p class="card-text">{{ game.price | currency:'USD':true }}</p>
            </div>
          </div>
    </div>
</div>

<p> {{ finished.value | json }}</p>