/* the following six rulesets are very important to overall layout. try not to tamper with them. */
* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
}
body {
    background: #f2f2f2;
}
nav {
    background: #1b1b1b;
    position: relative;
}
nav:after {
    content: '';
    clear: both;
    display: table;
}
nav ul {
    float: right;
    list-style: none;
    margin-right: 200px;
    position: relative;
}

nav ul li {
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
}

nav ul li ul li {
    width : 180px;
}

.dd-menu-trigger a, p {
    color: white;
    text-decoration: none;
    line-height: 50px;
    font-size: 20px;
    padding: 8px 15px;
}

.dd-menu-trigger a:hover {
    box-shadow: 0 0 5px #33ffff,
                0 0 5ox #66ffff;
    color: cyan;

}

/*would be cool to have the animation/transition, ul li ul scrolls up from where its bottom ends, to where its top ends*/
nav ul ul {
    z-index: 3;
    position: absolute;
    top: -50px;
    border-top: 3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top .5s;
}

nav ul ul ul {
    border-top: none;
}

nav .dd-menu-trigger:hover > ul {
    z-index: 0;
    top: 50px;
    opacity: 1;
    visibility: visible;
}


/* this one controls the nested d */
nav .sub-sub-menu-trigger:hover > ul {
    top: 50px;
    z-index: -1;
    opacity: 1;
    visibility: visible;   
}
/* 
attempt to replace having to id first item of sublists with 'top'
.sub-menu:nth-child(0) {
    border-top: 3px solid navajowhite;
} */

nav ul ul li {
    position: relative;
    text-overflow: ellipsis;
    margin: 0px;
    /* width: 350 effects the placement of sublist at the right edge of parent list */
    width: 350px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0,0.3);

}



nav ul ul li a {
    line-height: 50px;
}

nav ul ul li a:hover, nav button ul li a:hover {
    color: cyan;
    box-sizing: none;
}

nav header ul li ul li .btn-dd:hover {
    color: cyan
}

nav header ul li ul li .btn-dd-danger:hover {
    color: red;
}


nav .sub-sub-top {
    border-top: 3px solid navajowhite;

}

nav ul ul ul li {
    
    position: relative;
    top: -53px;
    left: 180px
}

.fa-plus {
    margin-left: 40px;
    font-size: 15px;
}

nav header {
    position: absolute;
    bottom: 6px;
    left: 10px;
}

nav ul #profile-nub a {
    color: white;
}

nav header button {
    background-color: #1b1b1b;
    border: 1px solid blanchedalmond;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0px .10em;
}

nav header .logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    text-decoration: none;
    float: left;
    padding-right: 10px;
    padding-block-end: 1px;
}

nav header ul li button a {
    line-height: 0px;
    font-size: 12px;
    padding: 0 0;
}

nav header ul li:hover > ul {
    z-index: 1;
    top: 21px;
    opacity: 1;
    visibility: visible;
    padding-bottom: 2px;
}

nav header ul ul:hover {
    z-index: 1;
    visibility: visible;
}

/*Gets rid of light blue bar since that collides with header/navbar in this element*/
nav header ul ul {
    border-bottom: 7px solid rgba(0,0,0,0,0.3);

    margin-top: 0.35rem;

} 

nav header ul li {
    display: inline-block;
    background: #1b1b1b;
    margin: 0 1px;

}

nav header #searchbar {
    color: black;
}

