<button (click)="fileInput.click()">
  <span>{{ label | titlecase }}</span>
  <input #fileInput type="file" (change)="upload($event)" style="display:none;" />
</button>

<div *ngIf="file">
  <upload-task
    [folder]="folder"
    (uploadEvent)="save($event)"
    (deleteEvent)="delete($event)"
    [file]="file"></upload-task>
</div>

<div *ngIf="!file && editing">
  <div *ngIf="editing.downloadURL as url">
    {{editing.name}} <button mat-raised-button class="btn btn-danger" (click)="delete(url)">Remove image</button>
  </div> 
</div>