<h3>Game Info:</h3>
<p>
    <!-- better route would be ./game/info/new -->
    <a class="btn btn-primary" routerLink="./info/new">Configure game-info</a>
</p>





<p>Game info is organizational/categorical data associated with videogames of all types, including:</p>
<ul class="list-group">

    <!-- Should make a tool tip so you can see description when hovering over these -->

    <li class="list-group-item"><zippy title="Categories: What broad family or familes of games does the game in question belong to?">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let p of categories">{{p.title}}</li>
        </ul>    
    </zippy></li>
    <li class="list-group-item"><zippy title="Creators: What game development studio(s) created the game">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let p of creators">{{p.title}}</li>
    </ul>
    </zippy></li>
    <li class="list-group-item"><zippy title="Platforms: What types of consoles can the game be played on?">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let p of platforms">{{p.title}}</li>
    </ul>
    </zippy></li>
    <li class="list-group-item">
        <zippy title="Console: What consoles in paticularly can the game be played on?">
            <ul class="list-group">
                <li class="list-group-item"><strong>Nintendo:</strong> switch, wii u, wii, gamecube ...</li>
                <li class="list-group-item"><strong>Sony:</strong> PS5, PS4 ...</li>
                <li class="list-group-item"><strong>Microsoft:</strong> Xbox S, Xbox one, Xbox 360...</li>
                <li class="list-group-item"><strong>PC:</strong>steam, misc...</li>
                <li class="list-group-item"><strong>Mobile:</strong> IOS, Android ...</li>
            </ul>
            <a href="">Search for a console</a>
        </zippy>
    </li>
</ul>




