<h3>Ratings by {{ username }}</h3>
<p>sort by release date (asc/desc), rating amout, game category, game creator, game console</p>
<input type="text" placeholder="filter by game title, categories, creators, consoles, console makers">
<div>Search hints</div>
<!-- <ul>
    <li *ngFor="let s of stars">
        {{s.game_title}} rating of {{ s.value | number }}
    </li>
</ul> -->

<table class="table">
    <thead>
        <tr>
            <th>Game title</th>
            <th>your rating</th>
            <th>Average rating</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of stars">
            <td><game-card game_title="s.game_title"></game-card>></td>
            
            <td>
                <display-rating [value]="s.value"></display-rating>
                <!-- {{ s?.value }} -->
            </td>
            <td>
                <display-average-rating [game_title]='s.game_title'></display-average-rating>
            </td>
            <td (click)="deleteRating(username, s.game_title)"><button>Delete rating</button></td>
        </tr>
    </tbody>
</table>