<div id="comment_area">
    <label for="comment">Comment:</label>
    <textarea
        #comment 
        name="content" 
        id="comment" 
        cols="200" 
        rows="5"></textarea>
    <!-- should be disabled until comment content is provided -->    
    <button (click)="createComment(comment)" class="btn btn-primary">post</button>
</div>

<aside>
    <p class="alert alert-danger">taken from ign*** : Comment Guidelines: <br>
    Have fun. Don't be mean. Feel free to criticize ideas,<br>
    not people. Report bad behavior. <a routerLink="/community-guidelines">Read our community Guidelines.</a>  <br>
    </p>
    
    <ul
        *ngIf="user; else guest"
        class="list-group">
        <li
            *ngFor="let comment of comments"
            class="list-group-item">
            <strong>{{ user.uid }}: </strong>{{ comment.body }}
        </li>
    </ul>
    <!-- Bad implementation: depending on whether a user is signed in or not
    the entire list of comments is either he user name or email value of http response. -->
    <ng-template #guest>
        <ul
            class="list-group">
            <li
                *ngFor="let comment of comments"
                class="list-group-item">
                <strong>{{ comment.email }}: </strong>{{ comment.body }}
            </li>
        </ul>
    </ng-template>
</aside>
